[2016-03-15 18:24] vadimberezniker opened #4 "Add example systemd/upstart configs for running the proxy as a service"

[2016-03-16 21:00] laixer opened #6 "Provide better error message if service account does not have the required scopes"
The current error message is:
POST "https://www.googleapis.com/sql/v1beta4/projects/project/instances/instance/createEphemeral": 403 Forbidden; Body="{\n \"error\": {\n \"errors\": [\n {\n \"domain\": \"global\",\n \"reason\": \"insufficientPermissions\",\n \"message\": \"Insufficient Permission\"\n }\n ],\n \"code\": 403,\n \"message\": \"Insufficient Permission\"\n }\n}\n"; read error: <nil>

If

[2016-03-16 21:06] vadimberezniker opened #7 "Investigate why MySQL connections from PHP running under Apache do not work in combination with fuse mode"
Strangely enough the same code works when running the PHP script directly.

The proxy sees a request for the socket, but the MySQL PHP driver does not appear to follow the symlink in this case.

[2016-03-18 13:04] opensourced101 opened #8 "Unable to use on windows"
When ever the command is run, the following error shows up - "listen tcp 127.0.0.1:3306: bind: An attempt was made to access a socket in a way forbidden by its access permissions."

Not able to do anything further, sure the devs would have come across this on windows. Is there a solution ?

[2016-03-21 17:52] Beldur opened #9 "Getting Timeout Error after following Kubernetes example"
Hi,

I created a GKE Cluster and followed the Kubernetes instructions:

Now I'm getting the following error (XXX:XXX is my Project and Instance Name):

Open socket for "XXX:XXX" at "/cloudsql/XXX:XXX"
Socket prefix: /cloudsql
Got a connection for "XXX:XXX"
couldn't connect to "XXX:XXX": Post https://www.googleapis.com/sql/v1beta4/projects/XXX/instances/XXX/createEphemeral?alt=json: oauth2: cannot

[2016-03-22 20:20] Carrotman42 commented on #8
It's possible that there's something already listening on port 3306 on your machine, or that your firewall settings are not allowing you to access that port.

I would suggest swapping out the '3306' in the command line to a different port number, running the Proxy as administrator (start it in an administrator command prompt), or following the instructions on this SO post: http://stackoverflow.com

[2016-03-22 20:22] Carrotman42 commented on #9
Interesting. I'm thinking that error happens when the proxy was attempting to receive an oauth token for your service account, although that's a strange failure mode. Is it possible that you are preventing outgoing HTTP requests in your Kubernetes configuration?

@dlorenc : have you ever seen this?

[2016-03-22 20:35] dlorenc commented on #9
I haven't seen this, but did notice another error that I didn't see before. I just sent a PR to add that.

@Beldur, can you try again with the ssl-certs volume like I added in #10?

Other than that, I'd try to make sure you have outbound internet access and your DNS configuration is correct. If you SSH to a node, can you ping accounts.google.com?

[2016-03-23 09:50] Beldur commented on #9
**From a Cluster Node:**
[code]

**From a Container (nginx vanilla container) running on a node**
[code]

[2016-03-23 10:08] Beldur commented on #9
I added the ssl certs volume and replace my RC with `--force=true --cascade`. My RC looks something like this:

[code]

I still get the same timeout error.

[2016-03-23 19:43] Carrotman42 commented on #9
My guess is similar to @dlorenc, in that it seems that something is blocking outgoing connections to that address from within the container. Do you happen to set any sort of network flags on that container?

Can you SSH and try to do a `wget https://accounts.google.com`? Maybe it's just blocking port 443.

[2016-03-25 16:14] Carrotman42 opened #11 "Improve logging"
There are probably a lot of verbose logs which do not need to be printed during normal scenarios. It'd be nice to clean this up so that users don't have to ignore a lot of logs that are mostly useful during development.

An option would be to introduce a 'verbose' flag to turn on the more verbose logs.

Some things to clean up:
   * During the creation of unix sockets, oftentimes a message will be

[2016-03-26 18:26] Beldur commented on #9
I completely recreated my cluster with the new GKE Version 1.2

Now I don't get the timeout error anymore.

[2016-03-26 18:26] #9 closed

[2016-03-29 17:26] israelfaria commented on #4
Hi, after some fiddling into how to do this properly on Ubuntu 15.10 images I was able to pull [this solution](https://gist.github.com/israelfaria/d47094551b1afe6c7f125cb749882f9e). It could be easier but it's good enough for me and needs no startup scripts.

[2016-03-30 19:20] Carrotman42 commented on #11
Another one: when unmounting FUSE doesn't work because it was already not mounted.

[2016-04-04 22:18] Carrotman42 commented on #6
Done in https://github.com/GoogleCloudPlatform/cloudsql-proxy/pull/13

[2016-04-04 22:18] #6 closed

[2016-04-06 00:00] Carrotman42 commented on #11
The proxy should take care to warn the user when running on GCE if there is no default service account to use.

[2016-04-07 22:26] #11 closed

[2016-04-17 10:52] fogs opened #20 "Incorrect permission checking"
When installing the current binary from https://dl.google.com/cloudsql/cloud_sql_proxy.linux.amd64 and running it on a Google Cloud Compute Instance, I get the following error message:

[code]

The compute instance has been created with
[code]

Note the
[code]

The API has been enabled on project level.

It turns out that /cmd/cloud_sql_proxy/cloud_sql_proxy.go is referencing the non-existent scop

[2016-04-17 10:56] fogs commented on #20
Google, you owe me the better part of a Saturday.

[2016-04-17 11:01] fogs commented on #20
I signed it!

[2016-04-17 23:44] sthomp opened #22 "Proxy crashing"
Im trying to connect to cloud sql from a compute engine instance in my python application. Im running the proxy like this:

    nohup ./cloud_sql_proxy -dir=/cloudsql --instances=my-project:us-central1:my-sql-instance=tcp:3307 &

I can successfully connect using the MySql client:

    mysql -u root --host 127.0.0.1 --port 3307 -p
    mysql> select 1;
    +---+
    | 1 |
    +---+
    | 1 |
    +--

[2016-04-17 23:53] hermantai commented on #22
You probably need to provide the output of the cloud sql proxy for someone to help out.

Instead of "nohup ./cloud_sql_proxy -dir=/cloudsql --instances=my-project:us-central1:my-sql-instance=tcp:3307 &"

Run "nohup ./cloud_sql_proxy -dir=/cloudsql --instances=my-project:us-central1:my-sql-instance=tcp:3307 &> /some-path-to-save-the-log.txt &"

[2016-04-18 00:47] sthomp commented on #22
Thanks Ill give that a try. It seems to be related to the number of connections. If I lower my connection pool things seem to be more stable:

    create_engine(...., poolclass=QueuePool, pool_size=1)

[2016-04-18 18:52] Carrotman42 commented on #22
Thanks for the bug report!

It would be very helpful for debugging's sake to grab the logs. Note, though, that logs are printed out on stderr, so you'll have to do something more like this:

nohup ./cloud_sql_proxy -dir=/cloudsql --instances=my-project:us-central1:my-sql-instance=tcp:3307 2> /some-path-to-save-the-log.txt &

[2016-04-18 18:56] Carrotman42 commented on #20
Releasing version 1.04 with your fix as I type this, it should be fully available via the standard download links a few hours from now.

Thanks again for the pull request, much appreciated.

[2016-04-18 18:56] #20 closed

[2016-04-19 00:40] sthomp commented on #22
I tried to reproduce this issue and Im not seeing the problem right now. Ill keep my initialization script as you mentioned so that Ill be capturing log output. Next time the issue arises hopefully Ill have a log to report. Feel free to close this issue for now.

[2016-04-19 16:50] petercm opened #26 "Unable to use -credential_file on GCE"
This was working for me last week. I suspect it could be related to the scope check fix in #21

The check for `onGCE` in `checkFlags` comes before anything would look at the tokenFile provided in `-credential_file` (or a `-token` or `GOOGLE_APPLICATION_CREDENTIALS` for that matter). So if the default service account does not have the `sqlservice.admin` scope those other auth methods will never be

[2016-04-19 18:48] psamaan opened #28 "Include Dockerfile for cloudsql-docker"
I can't seem to find the Dockerfile or image components for the Docker image compiled from this repo and available at "b.gcr.io/cloudsql-docker/gce-proxy", so those of us using this on GCE as the only way to access Cloud SQL securely are unable to build an image from specific commits so we can for instance rollback to previous non-production breaking changes. Kindly share the Dockerfile or otherwi

[2016-04-19 21:37] #26 closed

[2016-04-19 21:49] Carrotman42 commented on #28
Ah yes, I'm surprised I actually didn't do that already.

By the way, sorry for breaking your production with the latest release :/ If you have a test environment that you would be able to test the master branch please let me know. I could help set anything up if it meant that releases would be more stable.

[2016-04-19 21:54] psamaan commented on #28
Thank you. It's okay about the latest release, I ended up hopping on a host running a working container, finding its orphaned image and tagging and pushing it to our own repo to use instead, so it worked out. I'll see what I can do about the testing environment. Thanks for the quick merge.

[2016-04-19 23:36] Carrotman42 commented on #22
Definitely reopen the issue if you notice it happening again.

[2016-04-19 23:36] #22 closed

[2016-04-19 23:45] Carrotman42 commented on #28
PTAL at https://github.com/GoogleCloudPlatform/cloudsql-proxy/pull/29; I decided against publishing a standalone Dockerfile which was 'FROM golang' and compiled the proxy on its own, but that would force end users to download the container containing the compiler and standard library even though it's unnecessary.

Let me know if you know of another way to create a standalone Dockerfile which does

[2016-04-24 12:36] evanj opened #31 ""Embeddable" mode for Go applications?"
I've written a bit of a hack that allows me to embed the Cloud SQL Proxy into my Go application, so I don't need to set up or run a separate service from my application. I'm planning on releasing this as an open source library, but then I realized: it would be better if the cloudsql-proxy project supported this natively.

Would the maintainers of this project be interested in working with me to me

[2016-04-26 19:36] Carrotman42 commented on #31
I may have already added what you're requesting. If you want an easy way to hook into Go's standard database/sql packagem take a look at https://github.com/GoogleCloudPlatform/cloudsql-proxy/tree/master/proxy/dialers/mysql, and the example usage at https://github.com/GoogleCloudPlatform/cloudsql-proxy/blob/master/tests/dialers_test.go

Basically, I expose a Dial function which you can use to conne

[2016-04-26 22:57] Jakedavies opened #34 "Google cloud sql using wrong ssl cert to to establish socket connection from kubernetes"
We have 2 clusters, a staging and production cluster. We setup our production cluster to use cloud-sql as a pod attached to our app pods to connect to the cloud sql servers.

When we stood up the staging cluster, everything worked except that our apps cloud-sql proxies are throwing this error, all the secrets and associated paths have been changed for the staging cluster.

`couldn't connect to " p

[2016-04-27 01:06] Carrotman42 commented on #34
Interesting, I'm wondering whether something is messed up on the backend. Can you email your project name and instances to cloud-sql@google.com and I can help debug the issue from there?

Some debugging we can do in public, though: how are your staging/production databases set up? Is one created from a backup of another or something?

[2016-04-27 03:00] evanj commented on #31
Excellent! Looking at your commit, I think I pulled my version of this project just a few days before it was added. This is awesome! Maybe you should mention it in README.md? Thanks!

[2016-04-27 03:00] #31 closed

[2016-04-27 03:19] Jakedavies commented on #34
The staging/production databases are essentially the exact same, and there is a nightly cron that takes the backup from the production and restores it to the staging database.

[2016-04-27 03:43] Carrotman42 commented on #31
Good idea!

[2016-04-27 03:48] Carrotman42 commented on #31
By the way, feel free to send a pull request if there's any functionality you had that wasn't added. Also feel free to file any sort of issue you find with using it as a library.

[2016-04-27 19:40] Carrotman42 commented on #28
Please reopen if https://github.com/GoogleCloudPlatform/cloudsql-proxy/pull/29 doesn't fully solve your problem or if you have more feature requests for building.

[2016-04-27 19:40] #28 closed

[2016-04-27 19:46] Carrotman42 commented on #34
To follow up, the workaround here was to reset the SSL configuration of the instance. I'm currently investigating the root cause of the issue.

[2016-04-28 05:29] roberthbailey commented on #34
@Carrotman42 — Let me know if you need any help debugging from the GKE-side of things.

[2016-04-28 19:26] Carrotman42 commented on #34
Thanks for the offer, but it turned out to be a strictly Cloud SQL-related problem. I submitted a fix this morning and it should be in production within a week or so. There may still be bugs related to this one which are yet undiscovered, but until then the workaround of resetting SSL configuration should work for this class of bug.

I will close this bug when the fix finishes rolling out.

[2016-05-01 15:59] tutman96 opened #35 "Container Engine Permission Errors"
I have been having issues with the proxy on Container Engine. I have a Cloud SQL database setup using SSL and allowed ip of 0.0.0.0/0. I want to be able to connect to it with my containers via a service in Kubernetes. I don't want to put a cloudsql-proxy in every one of my pods. Therefore, I believe I need to use the proxy with a TCP port instead of the UNIX socket. I have successfully created the

[2016-05-01 17:28] Carrotman42 commented on #35
I believe this is https://github.com/GoogleCloudPlatform/cloudsql-proxy/issues/26. I haven't rolled out a new build yet, I will do so tomorrow.

As a workaround until then, you can use https://github.com/GoogleCloudPlatform/cloudsql-proxy/blob/master/cmd/cloud_sql_proxy/build.sh to build your own docker image and push it to your own repository.

Quick note: if you expect to just use the proxy, you

[2016-05-01 17:34] tutman96 commented on #35
Thanks for the reply. I had seen that issue, I just figured it had been built. No problem though.
As for the architecture, we plan on going with the acclaimed "microservice" architecture. Each one of our microservices will be ran about 10 times and we will have 10-20 microservices. I would rather run this binary 200+ times. However, with the ReplicationController/Service route, I can dynamically s

[2016-05-02 19:33] Carrotman42 commented on #35
Okay, I just pushed version 1.05; this time, though, instead of updating latest I pushed it to a new tag (full path is b.gcr.io/cloudsql-docker/gce-proxy:1.05). After about a week or so I'll update the latest tag to point to the newest version. If you point your jobs to the new version they should start working; please let me know if something else isn't working and I'll be happy to debug it with

[2016-05-02 19:33] Carrotman42 commented on #26
This has been pushed out in 1.05

[2016-05-02 19:34] Carrotman42 commented on #28
For version 1.05 I did a docker push without updating the 'latest' tag. You can try out the new version by pulling b.gcr.io/cloudsql-docker/gce-proxy:1.05

I will update the latest tag after a bit of time.

[2016-05-03 12:24] udoprog opened #36 "Missing previous releases of cloudsql-proxy"
Hey,

I'm trying to deploy cloudsql-proxy, but one of the issues I'm facing is managing releases.

It appears that you only expose one version at a given time (only the tag for 1.05 is visible) which makes it really hard to reproduce a build for an old version.

It also appears that the binaries you provide does not contain the version number, I assume this means that they are always the 'latest'.

[2016-05-03 14:41] tutman96 commented on #35
Thanks @Carrotman42 . I have deployed the version that you pushed and it seems to work very well. I can scale the replication controller and everything works as expected. However, I can't seem to figure out the failover feature. I found this article: https://cloud.google.com/sql/docs/high-availability#test and tried to run the test, however I keep getting a 404.

So instead, I ran queries against

[2016-05-03 18:10] Carrotman42 commented on #36
Hey there, glad to hear you're using the Cloud SQL Proxy! Please continue to open feature requests for anything else that would make that sort of setup easier, along with any issues the Proxy caused.

1) Sure thing, for the next release I'll try to get this set up. I'll keep the existing URLs and have them point to the 'latest' release after some amount of time, but I'll also release URLs to point

[2016-05-03 20:44] Carrotman42 commented on #35
Regarding using the HA link you gave [0]: that is the way to test a failover action. A 404 can happen if you did not use a valid OAuth token (accessToken) or if the project or instance was incorrect. But, what I think is happening is that there's a documentation bug: that page should say that this is the format for the header; notice that there's a "Bearer" between "Authorization" and "accessToken

[2016-05-03 21:16] tutman96 commented on #35
I can't appear to get a valid token then. I tried the "gcloud auth print-access-token" and I even tried creating an API Key with Google Cloud Console, however everything returns a 404. I won't hold you up any more on this and will close this issue.

As for the proxy, when I restarted the SQL server, the proxy was returning `Instance <instance> closed connection`. Seems like it is to be expected.

[2016-05-03 21:23] Carrotman42 commented on #35
Did you correctly swap in 'your-project-id' and 'master-instance-name' into that URL I posted? Did you also try putting the "Bearer" in the header? (I'm working on fixing the docs right now)

[2016-05-03 21:44] tutman96 commented on #35
Yes I did. As it turns out, I had an invalid token. I got that working, verified it with a simple GET and all was golden. I executed the failover action, and it returned me an error saying that the `master-instance-settings-version` was invalid. I did a GET on the instance, found the value, swapped it in there and then got a successful operation response. I checked on the operation and it said it

[2016-05-03 22:27] tutman96 commented on #35
I figured it out. Looks like I had a bad replica created for my instance. It works now. I am not sure if the proxy did the failover correctly. Here is the log for it:
[code]
And then everything stabilized. The failover operation completed and all my queries were going through.

[2016-05-03 23:10] Carrotman42 commented on #35
FYI: I filed an internal bug about your FYI. I agree that the italics are a little confusing.

Good to hear you figured things out. I'll keep this bug open to remind myself to release specific URLs of the static binaries.

Please don't hesitate to file other issues if/when you find them :)

[2016-05-04 05:09] udoprog commented on #36
Great for fixing the URLs, that will help a lot. For me there's no need to publish the hash, we'll be generating them as new releases are made available.
For **2)** I was referring to the git tags.
Also, thanks for clarification on **3)**, it's mostly about can be expected from future versions.

Thanks for the help!

[2016-05-04 08:11] udoprog commented on #36
Hey, it also appears as if the current available binary doesn't match the latest version. I get the following issue when using the uploaded binary:
[code]
Which is not present if I compile master myself.

[2016-05-04 18:24] Carrotman42 commented on #36
Hmm, the static binary URL hasn't been updated yet. Investigating now.

[2016-05-04 23:30] Carrotman42 commented on #34
The fix should be rolled out. Please reopen if you're still encountering the problem.

[2016-05-04 23:30] #34 closed

[2016-05-06 19:47] Carrotman42 commented on #36
Forgot to update this bug. The static URL should be pointing to 1.05 now.

As for git tags, I will now be adding them each time there's a release. I just discovered this feature and I think it's great.

Please let me know if there are any more things you'd like answered!

[2016-05-06 19:47] #36 closed

[2016-05-11 18:33] spheromak commented on #35
This worked for me using the 1.05 container. Note tho that the current :latest and this :1.05 change the arguments slightly from `-credentials_file` to `-credential_file`.  Altho I think the docs and master are in line with the `1.05` container, the current as of today latest container was wanting `-credentials_file`

can we expect the 1.05 container to be released as latest soon ?
Also where migh

[2016-05-12 00:58] psamaan commented on #35
So I've been trying to launch the proxy image as its own Kubernetes deployment and interface with it via a service endpoint rather than having it run as a sidecar container (same thing @tutman96 was attempting), but it seems the proxy is listening on 127.0.0.1 which makes me unable to connect to it from outside of the pod and via the service. Is there a way to have it listen to 0.0.0.0?

[2016-05-12 01:36] tutman96 commented on #35
Yup, you just do a `"-instances=<redacted>=tcp:0.0.0.0:3306"` iirc.

[2016-05-17 00:21] Carrotman42 commented on #35
@spheromak sorry I missed your message until now.

Regarding -credential_file: some docs have been wrong before (e.g. https://github.com/GoogleCloudPlatform/cloudsql-proxy/commit/2b26f59fb7cc8b29a2541af3a21f6a7a6e68a4a9), but the code has always spelled the flag that way (see initial introduction of the flag: https://github.com/GoogleCloudPlatform/cloudsql-proxy/commit/c72e1cfd09283345d7886b71e11e

[2016-05-18 00:11] zhangandyx opened #37 "Client fails on createEphemeral"
I'm getting an odd failure from following these instructions:

https://github.com/GoogleCloudPlatform/cloudsql-proxy#to-use-from-kubernetes

[code]

Looking at the code, `createEphemeral` is failing, but I'm at a loss as to what is going on with the randomized key that's being created there.

[2016-05-18 04:13] Carrotman42 commented on #37
I thought project IDs only allowed dashes (rather than underscores). Can
you double check that is the ID of your project?

[2016-05-18 17:34] ZhangBanger commented on #37
Good catch! Apparently I was mixing them up depending on the context. Thanks!

[2016-05-18 23:46] ZhangBanger commented on #37
Actually, mind if I send in a PR that will do this check?

[2016-05-19 08:23] Carrotman42 commented on #37
I'm definitely accepting pull requests.

[2016-06-09 16:03] thuandt commented on #37
I have same problem
[code]

[2016-06-15 04:20] Carrotman42 commented on #37
@thuandt Is the service account associated with 'CloudSQL.json' added to the project which contains the Cloud SQL instance you want to connect to? Does it have an "editor" level privilege in that project?

[2016-06-15 08:47] thuandt commented on #37
@Carrotman42 I have both but it's still return this error.
After I delete 2nd Gen cluster and create another, its work like charm. So I think it's problem in Google CloudSQL service.

Thanks for your help.

[2016-07-11 16:30] itaigev opened #38 ""fusermount": executable not found in $PATH"
Hello,

I am trying to start a docker container using the -fuse switch as follows:
`docker run -it -v $(pwd)/cred.json:/secret/cred.json -v /cloudsql -v /etc/ssl/certs b.gcr.io/cloudsql-docker/gce-proxy /cloud_sql_proxy -dir=/cloudsql -fuse -credential_file=/secret/cred.json`
And I get the following error:
`2016/07/11 16:24:48 Mounting /cloudsql...
2016/07/11 16:24:48 Could not start fuse director

[2016-07-14 16:58] Carrotman42 commented on #38
The docker image provided does not include support for FUSE. In fact, at least of docker 1.09, FUSE doesn't work through docker anyway. You can specify instances you want to connect to using -instances, or project -projects to have the proxy look for instances in those projects.

[2016-07-14 18:14] itaigev commented on #38
Got it.  -instances worked great. Thanks.

On Jul 14, 2016 7:58 PM, "Kevin Malachowski" <notifications@github.com>
wrote:

[2016-07-15 22:09] Carrotman42 commented on #38
Let me know if there's anything else I can do!

[2016-07-15 22:09] #38 closed

[2016-07-22 07:32] thecodeassassin opened #40 "high cpu usage"
i start the sql proxy using the following command:

When the website is loaded the CPU usage of the proxy rises exponentially. Is there any way around this?

[2016-07-22 09:47] thecodeassassin opened #41 "Listening on 0.0.0.0 doesn't work"
I am simply using the sample configuration in the readme:

The address doesn't seem to be parsed correctly.

[2016-07-22 16:19] Carrotman42 commented on #41
Are you running the latest version? Try passing --version to see if it
prints out version 1.05.

[2016-07-22 16:49] thecodeassassin commented on #41
[code]

But when i build it from src it seems to work :) So must have been using an older version.

[2016-07-22 16:49] #41 closed

[2016-07-24 19:53] thecodeassassin commented on #40
does anybody know anything about this? The high cpu usage causes this to be unable in production.

[2016-07-24 23:04] Carrotman42 commented on #40
What sort of qps are you achieving? Is your app continually opening and
closing database connections? Try out using connection pooling, it is
significantly more efficient all the way down the stack.

One thing you can try, since I noticed from another issue you are compiling
the proxy: you can try to link in pprof and find the hotspots you're
hitting in the code. I'd be happy to look into the bott

[2016-07-25 21:30] Carrotman42 commented on #40
If you're willing to do the legwork to identify the hotspots of your code, you can read through this post about adding pprof to any Go program to automatically profile CPU (and memory) usage. The post is relatively long, but the part you're interested in are adding these lines to func main:

        f, err := os.Create("some-path-to-a-file-you-own.prof")
        if err != nil {
            log.Fat

[2016-07-27 05:22] syclone opened #42 "Cannot Connect to Cloud SQL from Compute Engine via Proxy using PHP/PDO"
I am having an issue connecting to the proxy with PHP/PDO. I followed all the instructions on this page [https://cloud.google.com/sql/docs/compute-engine-access](https://cloud.google.com/sql/docs/compute-engine-access) and I am able to connect with `mysql -u root -p -S /cloudsql/projectid:region:instance` and confirm with `show databases;`. Now my issue when I connect with the PDO I get :

**SQLST

[2016-07-29 09:15] since19861019 opened #43 "OpenBSD build fails"
I am trying to build cloudproxy on OpenBSD 5.9 amd64.

On Ubuntu, "go get github.com/GoogleCloudPlatform/cloudsql-proxy/cmd/cloud_sql_proxy" succeeds with go 1.63, but it fails on OpenBSD as:

[code]
I used go-1.5 (package) and go-1.6 (from source).
Is there any way to build without fuse support, as I do not need fuse on OpenBSD ?

[2016-07-30 01:21] Carrotman42 commented on #43
Can you try again after https://github.com/GoogleCloudPlatform/cloudsql-proxy/commit/2d769ed481555c82d0cebddc52ec29851e8fa43b? I believe that's the way to cause it to ignore that package.

[2016-07-30 01:23] Carrotman42 commented on #42
It sounds similar to https://github.com/GoogleCloudPlatform/cloudsql-proxy/issues/7?

Are you using `-fuse`? I suggest using `-instances` instead. If that also doesn't work then we can look into it more.

[2016-07-30 07:03] since19861019 commented on #43
It builds and works now.
Thanks.

[2016-08-03 19:56] Carrotman42 commented on #43
Great! Let me know if there's any other troubles on OpenBSD.

[2016-08-03 19:56] #43 closed

[2016-08-16 22:37] kuroneko25 commented on #35
This may not be directly related but I currently have the proxy set up to run as a sidecar container. Is this the recommended approach or is there a reason that I should consider making it into a Service/DaemonSet?

[2016-08-26 04:46] porridge commented on #38
Can you please reconsider this issue? FUSE works fine inside kubernetes pods. You just need to specify:
[code]
in your container spec. We use GCSFuse in a k8s deployment just fine.

It would be great not to have to build one's own cloudsql-proxy image just for this. We have plenty of Cloud SQL instances coming and going, and their list differs between the various GCE projects we run, so -fuse is a

[2016-08-30 08:47] porridge commented on #38
So it turns out that while FUSE works on docker and k8s these days, accessing a FUSE filesystem in a neighboring container does not. So ``-fuse`` is not currently usable on k8s. But maybe it will be at some point: https://github.com/kubernetes/kubernetes/pull/20698#issuecomment-234720829

[2016-09-07 18:50] MDrollette opened #44 "Make logging configurable"
When using the proxy with PHP (and no persistent connections) the chattiness of the proxy logs is overwhelming. Since I am running the proxy on Container Engine, those logs are being shipped to Cloud Logging and the amount of "new connection" and "connection closed" messages is significant.

It would be nice to disable logging of new and closed connections.

[2016-09-08 22:29] Carrotman42 commented on #44
Sure, that makes a lot of sense.

But please note: you really /should/ be pooling connections. Particularly with the proxy, dialing new database connections is significantly less efficient than using existing connections.

[2016-09-14 09:53] emilv commented on #4
@israelfaria You don't need the `daemon` package at all. Systemd already provides the same functionality. Here is my unit file:

[code]

[2016-09-15 15:33] smichaku commented on #37
I have the same problem as @thuandt ...

[2016-09-15 21:18] Carrotman42 commented on #37
If you could send the name of your cloud sql instance to
cloud-sql@google.com (with a link to this page) I may be able to help out
looking at some internal data.

Also, please paste the log of of the proxy when this issue occurs (taking
out any personally identifiable info like the instance name, ip, etc).

[2016-09-19 16:37] smichaku commented on #37
@Carrotman42  - I sent the info you requested to cloud-sql@google.com. Still no reply.

[2016-09-19 22:45] Carrotman42 commented on #37
Apologies, I was off work this weekend. I've replied now, let's continue the discussion over email.

[2016-09-23 17:28] Carrotman42 commented on #35
Sorry for the delay in answering this question. I was recently cleaning up browser windows and found this half-typed reply...

The optimal way to use the Proxy is to have one Proxy binary running per physical/virtual host, and use OS-level features to connect the proxy to other processes (binding directories, agreement on TCP ports, --instances, etc). This is due to caching/quota concerns. But, th

[2016-09-24 05:31] kuroneko25 commented on #35
My understanding is that one instance of the Proxy is tied to a particular CloudSQL instance i.e. via `-instances=project-id:zone:instance-id=tcp:3306`. This won't work if I only run one Proxy instance on a node and I have pods on that node that need to talk to different CloudSQL instances?

[2016-09-24 05:59] Carrotman42 commented on #35
--instances takes a comma-separated list

On Sep 23, 2016 10:31 PM, "kuroneko25" <notifications@github.com> wrote:

[2016-09-24 06:30] kuroneko25 commented on #35
Ah my bad for not reading the doc carefully :). How does the proxy figure out which instance to route a request to? Does this mean we'll need to use a different port for each instance?

[2016-09-24 07:04] Carrotman42 commented on #35
Yes, you can only bind a TCP port to one thing at a time on the same system
(in general, maybe for some obscure systems you could). If you use Unix
sockets instead, the Unix socket will be given the name of the cloud sql
instance (and is placed in the directory specified by -dir).

[2016-09-29 19:39] mm-wang opened #48 "Start proxy within a Node/Express application, and run on a client in Heroku"
Is there a way to run the scripts to download the proxy, have Google authentication set up, and begin listening for connections from an application in Heroku with the appropriate credentials? I have an application in Heroku with Express routes that connect to a Google Cloud SQL instance, and I would like to use the cloud_sql_proxy to connect it.

I can run the application locally, starting the pro

[2016-10-07 15:49] ppawiggers opened #49 "Running cloudsql-proxy as Kubernetes DaemonSet"
I'd like to run the cloudsql-proxy container as a DaemonSet instead of a sidecar in my pods, because I have multiple (different) pods on a node, which all need to connect to a Cloud SQL instance. So instead of:

[code]

I use:

[code]

So the other pods can just mount the hostPath `/cloudsql/` (read-only) to load the UNIX sockets.

However, when I try to start the cloudsql-proxy container, it give

[2016-10-07 19:11] apelisse commented on #49
May I ask why you prefer UNIX sockets over TCP sockets?

Here is how I would have done that:
- Create sqlproxy pod (potentially with multiple tcp/instances)
- Expose multiple ports from your pod (with instance name in the port name, as seen below)
- Create one service per instance with the same port (or one service with multiple ports):

[code]

Then, simply connect to the SQL proxy of your choice

[2016-10-07 20:21] hfwang commented on #48
You will need to do this work yourself, but you can download the proxy and add it to your slug using a custom buildpack. You would then also need to write a script (and use that in your Procfile) that starts both the proxy and the express server together.

A coworker pointed me to heroku's pg-bouncer that uses a very similar strategy, which you can look at: https://github.com/heroku/heroku-buildpa

[2016-10-11 08:16] ppawiggers commented on #49
I prefer UNIX sockets because I don't like to manage (duplicate) ports. However, the solution you suggest - using named ports and attaching a service to it - would solve this problem. Thanks, I think this issue can be closed.

[2016-10-11 16:09] mm-wang commented on #48
It was a bit convoluted, but I did get it to work using a specific instantiation of the Procfile using a bash script to download and start the instance.

For others' reference, I used a file called proxy.sh that looks like below:
[code]

and a Procfile that looks like this:
[code]

[2016-11-15 17:21] simonmorley opened #53 "Connecting to a specific db"
Not an issue, more of a recommendation.

I think it's worth updating the README to explain that the user must set the db manually when using from within a Go program.

Rather than the typical:

[code]

It's required to connect to USE a db like this, after calling DialPassword:

[code]

Unless I've totally missed the point, in which case, can someone explain the correct way to dial.

[2016-11-15 21:00] Carrotman42 commented on #53
I think better docs are always a good thing. In the meantime, here's what I'd do:

Use the [mysql.Cfg](https://github.com/GoogleCloudPlatform/cloudsql-proxy/blob/51661ce8decacbdbceb35f8b934809514385e25b/proxy/dialers/mysql/hook.go#L68) func, modify the [DBName field](https://godoc.org/github.com/go-sql-driver/mysql#Config), and then pass it to [mysql.DialCfg](https://github.com/GoogleCloudPlatform

[2016-11-20 18:00] chrisprobst opened #54 "Doc says Kubernetes needs Service Account but it doesnt"
The docs says that you have to setup a service account and download the json file and use it in the proxy container as secret.

However, when using this on Google Container Engine you actually do not need any service account json file. The Proxy uses the default service account given by the Google Compute Engine Instance the pod is running on. So if the Cloud SQL API is enabled and the container c

[2016-12-16 13:37] juanpastas opened #55 "Is an instance a container?"
It's not clear for me in `project1:region:instance1` what to put in instance.

I am using kubernetes with 2 nodes, several services, several deployments. One of the replica sets of one of the deployments has a pod with 2 containers: cloudsql-proxy and my app container

Is it possible to clarify this in docs?

[2016-12-16 13:47] juanpastas commented on #55
I understand now, it's the instance ID of the SQL instance.

[2016-12-16 13:47] #55 closed

[2016-12-23 05:57] fogs opened #57 "Google Cloud SQL API Quotas apply; may kill your application"
Connecting to a Google Cloud SQL instance via tcp_3306 is not counting towards any API quotas. Connecting to a Google Cloud SQL instance via the cloudsql-proxy however IS counting towards the Google Cloud SQL API Quotas. Specifically, there is a limit of 10k queries per day and a limit of 100 queries per 100 seconds per user. Queries in this case refer to API queries, not SQL queries.

An API quer

[2016-12-23 16:36] fogs commented on #57
To add to my issue above, the API method sql.instances.list seems to be the problem here: it was called once every second, quickly saturating the 10k / day quota.

I had my instance run as ```/usr/local/bin/google-cloud-sql-proxy -dir=/var/run/cloudsql -instances_metadata=instance/attributes/cloud-sql-proxy-instances``` and the metadata attribute contained ```projectname-redacted:europe-west1:inst

[2016-12-23 16:59] Carrotman42 commented on #57
The "list" API should only be called if -instances and -instances_metadata
are both unset. Let me take a look at the code to see if there's a bug
about it being called if just -instances_metadata is set.

[2016-12-23 17:48] Carrotman42 commented on #54
Sorry for the late reply. It is the recommendation of Kubernetes to use a credential file instead of relying on the default authentication when running on Google Compute Engine. By using a credential file, you will more easily be able to run your configuration on other clouds or test environments.

I do not think it is worth documenting that it is _possible_ to do this since I think people shouldn

[2016-12-23 17:48] #54 closed

[2016-12-23 19:25] Carrotman42 commented on #57
I don't quite understand how you could accidentally be calling the 'list' API once per second unless your google-cloud-sql-proxy is starting up once per second (and you set the --projects flag): the List API is called once per project in --projects [0]. Do you have code running somewhere which causes the Proxy to be started with the --projects flag often?

[0] https://github.com/GoogleCloudPlatfor

[2016-12-23 19:27] Carrotman42 commented on #8
Clearing out some old issues that appear inactive. I have since verified on my own machine that the Proxy works on Windows; please reopen if you are still seeing an issue here.

[2016-12-23 19:27] #8 closed

[2016-12-23 19:28] Carrotman42 commented on #42
Are you still having trouble?

[2016-12-24 09:43] fogs commented on #57
Carrotman42, thanks for the quick reply!

I have the cloudsql-proxy running on approx 12 GCE instances; the actual number varies as GCE groups have autoscaling enabled. Since I am using the upstart script I submitted in https://github.com/GoogleCloudPlatform/cloudsql-proxy/pull/47/commits/8a246289f9f8b5a0afd4b9118e952b4fafe59b0c I can see in the Stackdriver Logging that in the 24h prior to the API

[2016-12-26 21:21] Carrotman42 commented on #57
It sounds like there was some rogue process running under credentials associated with your project which ate up your quota. Were you doing development and testing with the list API? If you don't already, I suggest testing/developing your code using a different GCP project to prevent any sort of non-production bug from causing this sort of problem.

Unfortunately, I can't think of anything to do to

[2016-12-26 22:57] #53 closed

[2016-12-28 07:35] fogs commented on #57
Thanks for coming back to me! As the process is now running fine since the initial incident (currently I see 300 API requests for the last 24h), I agree to you when you say there must have been a rogue process. Not sure if cloudsql-proxy or any other one. This happened in the project for prod; both dev and test are separate environments. I was unable to locate where I can see in the cloud console

[2017-01-11 16:40] GLStephen opened #58 "CloudSQL Proxy Fails after Short Period of Time (12 hours)"
We are seeing an issue where the cloud SQL proxy will fail after a short period of time and has to be restarted. This is leading to "could not connect" errors in our apps. We are running the command in a startup bash script, like this:

#! /bin/bash
# starts proxy
nohup /usr/local/bin/cloud_sql_proxy -instances=instance_string=tcp:3306 > /var/log/cloudproxy/fulllog.log 2>&1 &

Is there any reason

[2017-01-18 17:05] Carrotman42 commented on #58
Is it possible for you to post the logs for a failing proxy process? If your app is failing to connect to it, there should be some information in the logs about why connections are being denied (especially if connections were once working).

[2017-01-24 17:35] zmerlynn opened #59 "b.gcr.io deprecation soon"
According to https://cloud.google.com/container-registry/docs/support/deprecation-notices, `b.gcr.io` will be deprecated shortly. Can you please start publishing `b.gcr.io/cloudsql-docker` to a different registry?

c.f. https://github.com/kubernetes/test-infra/issues/1670

[2017-01-31 17:37] nathanjosiah commented on #59
This will stop working on [February 15](https://cloud.google.com/container-registry/docs/support/deprecation-notices), is there an ETA on this so that projects that are depending on this have time to migrate?

[2017-01-31 17:58] Carrotman42 commented on #59
We've released a new version available on an updated domain (
gcr.io/cloudsql-docker/gce-proxy:1.06 ), see the releases page. We've also
backfilled the new domain with the images from old releases.

In addition, we've added forwarding rules so that all old URLs correctly
redirect to the new URL. Users are still encouraged to move to the new URL
anyway. I haven't cleaned up the README yet, I don't

[2017-01-31 18:24] zmerlynn commented on #59
[The front page](https://github.com/GoogleCloudPlatform/cloudsql-proxy/blob/master/README.md) still references `b.gcr.io/cloudsql-docker/gce-proxy:1.05`

[2017-01-31 18:26] zmerlynn commented on #59
But thank you, I didn't even notice the release, which predates this bug.

[2017-01-31 18:38] Carrotman42 commented on #59
Yeah that's the readme. I was putting it off since the old URL still will work and I need to update that kubernetes section anyway, but now I've logged on so I can just make the 3 character change (https://github.com/GoogleCloudPlatform/cloudsql-proxy/commit/769672e001a1d71675b8c00bd92ff61d505aef8f)

[2017-01-31 18:38] #59 closed

[2017-01-31 18:39] Carrotman42 commented on #59
Thanks for the issue, let me know if there's anything else I can help with! And sorry for the initial delay; the issue slipped my radar.

[2017-01-31 18:42] zmerlynn commented on #59
Thanks, @Carrotman42!

[2017-02-06 02:48] minimum2scp opened #60 "Cannot download 1.06 precompiled binary"
In 1.06 release (https://github.com/GoogleCloudPlatform/cloudsql-proxy/releases/tag/1.06),

But downloaded binary is **1.05**, not **1.06**.

[code]

Where can I download 1.06 precompiled binaries?

[2017-02-07 10:42] jayjun opened #61 "Create official Helm chart"
The official [docs](https://cloud.google.com/sql/docs/container-engine-connect) recommend the "sidecar pattern" for deploying to Google Container Engine. It's painstaking to follow the instructions currently, having to hand wire secrets up and carefully splice lines of code together from the sample YAML.

It'll be nice to have an official `google/cloudsql-proxy` Helm chart.

Install with a single

[2017-02-08 21:34] Carrotman42 commented on #60
There was a slip-up on our side and the binaries never got released. My mistake for not following up.

I will get this working, hopefully it will be released today.

[2017-02-10 03:11] minimum2scp commented on #60
I've confirmed the binaries are 1.06

[code]

[code]

Thank you!

[2017-02-10 14:27] #60 closed

[2017-02-10 16:30] Carrotman42 commented on #60
Thanks for following up!

[2017-02-11 15:29] glerchundi opened #62 "Invalid JWT: Token must be a short-lived token and in a reasonable timeframe"
Can anyone tell me what i'm doing wrong?

I want to use the proxy in a Kubernetes cluster out of GCE using a service account and your docker image:

[code]

And then when I try to connect using mysql client, cloud sql proxy binary outputs this:

[code]

Thanks in advance,

[2017-02-11 21:40] glerchundi commented on #62
I fixed it by recreating the service account and giving to it just the *'Cloud SQL Client'* permission. This paragraph confused me a little bit, do you mind to change in order to keep it aligned with what the IAM permits?

Thanks!

[2017-02-11 21:40] #62 closed

[2017-02-20 14:12] robbertvancaem commented on #37
Hi @Carrotman42 and @smichaku , just wondering, did you manage to overcome this? I'm looking at the same error right now. I already tried to re-generate my credentials by using a 'Cloud SQL Admin' Service Account but no cigar :(

[2017-02-21 08:02] smichaku commented on #37
@robbertvancaem  - The problem for me was that service account related to the credentials file I was using was not added to the project. Once I added it the problem was gone.

[2017-02-21 20:12] abstrctn commented on #37
I've also been seeing this error over the past several days (running the proxy within Google Kubernetes Engine):

[code]

What's odd is that it only crops up after the sql proxy instance has been running - successfully - for a while. Most recently, my service account had both `roles/cloudsql.admin` and `roles/cloudsql.editor` access on my project.

After the error began occurring, restarting the p

[2017-02-22 08:21] anurag-itsolvs commented on #37
Thanks @ abstrctn. I also had same issue. I am wondering that if we are giving only "Cloud SQL admin" role then it should worked.

[2017-02-23 14:51] GLStephen commented on #58
@Carrotman42

The logs have a bunch of basic entries like this:

2017/01/12 14:21:38 New connection for "my-project:us-central1:my-db"
2017/01/12 14:21:38 Client closed local connection on 127.0.0.1:3306

Then they have a few of these:

2017/01/12 14:21:46 New connection for "my-project:us-central1:my-db"
2017/01/12 14:21:46 Instance my-project:us-central1:my-db closed connection

I have one group

[2017-02-27 17:22] pavel-kurnosov commented on #37
After testing with different access rights this is what I found:
Cloud SQL admin - no access ( Error during createEphemeral for instance: googleapi: Error 403: The client is not authorized to make this request., notAuthorized). All Cloud SQL not works for same reason;

So far the only access that is working - project-owner. I think I tried project editor and it not working for same reason.

Does a

[2017-02-28 08:25] robbertvancaem commented on #37
In IAM, the Service Account related to the project **only** had access to the Cloud SQL with a role of Editor. It did **not** yet have access to the actual project where the Service Account was used. A bit confusing, but adding the Service Account as a Project Editor as well resolved all my issues. Thanks for the help guys :-)

[2017-03-03 22:15] Carrotman42 commented on #58
This error is the reason the process exits:

2017/01/12 16:01:26 Error in accept for {"my-project:us-central1:my-db" "tcp" "127.0.0.1:3306"} on 127.0.0.1:3306: accept tcp 127.0.0.1:3306: accept4: too many open files

This is probably caused by the "invalidState" error that was returned. Do you know what your database was doing during that time period? You should be able to see a list of operations

[2017-03-03 22:17] Carrotman42 commented on #61
I am unfamiliar with Helm entirely. Is there a chance you would be able to send a pull request?

[2017-03-03 22:57] Carrotman42 commented on #35
This thread contains quite a few different issues... I'm going to close this since I don't think there's anything actually remaining.

If I'm incorrect, please feel free to file a new issue for tracking.

[2017-03-03 22:57] #35 closed

[2017-03-06 20:55] laixer commented on #37
Some clarification: 'Cloud SQL Client' is the right role to use for Proxy access.
The initial release of the role was missing a permission which is why you might have run into issues when you first tried it. At this point, you should be able to switch back to using only the Cloud SQL Client role.

None of the other Cloud SQL roles include connectivity access, you always need Cloud SQL Client role

[2017-03-09 11:13] jayjun commented on #61
@Carrotman42 Honestly I'm a Helm beginner too. Though I doubt this is a suitable repo to host the chart?

Anyway, I took a shot and submitted a PR for further discussion.

[2017-03-11 19:53] pilwon commented on #37
@laixer @Carrotman42 `Cloud SQL Client` still gives us the same error message as of today. Also tried `Cloud SQL Admin`, `Cloud SQL Editor`, and `Cloud SQL Viewer` but none of them work except for `Project Owner`.

[2017-03-11 19:56] laixer commented on #37
@pilwon Can you share the command line you are using to run the proxy as well as the exact error message you see?

[2017-03-11 22:36] pilwon commented on #37
@laixer

[code]

[2017-03-16 18:43] bouk opened #70 "PostgresQL support"
Now that [there's a cloud sql for postgres](https://cloud.google.com/sql/docs/features#postgres) it would be handy if the cloudsql-proxy supported it too

[2017-03-16 19:16] Carrotman42 commented on #70
It does :) https://github.com/GoogleCloudPlatform/cloudsql-proxy/releases/tag/1.07

If you're having trouble getting it to work, please reopen a more specific issue.

[2017-03-16 19:16] #70 closed

[2017-03-16 19:26] bouk commented on #70
Ah I see. I was looking under proxy/dialers and assumed the lack of postgres driver meant it wasn't supported. Thanks!

[2017-03-21 15:28] mhindery opened #72 "Add Postgres Dialer"
Since Postgres is available on Google Cloud Platform as Cloud SQL option (https://cloud.google.com/sql/docs/postgres/), can a dialer be added for this to be used in Go programs?

[2017-03-21 16:04] Carrotman42 commented on #72
There's an active pull request :)

[2017-03-22 08:10] mhindery commented on #72
Apologies, I did not check them. Closing this then.

[2017-03-22 08:10] #72 closed

[2017-03-25 00:09] pavel-kurnosov opened #73 "Client closed local connection"
I just updated from MySQL to PostgresSQL. With MySQL all was fine, but now After establishing connection to proxy, from my machine, proxy close all connections from my connection pool .

`2017-03-25T00:01:43.528146150Z 2017/03/25 00:01:43 using credential file for authentication; email=something@gserviceaccount.com
2017-03-25T00:01:43.528372912Z 2017/03/25 00:01:43 Listening on 0.0.0.0:5432 for id

[2017-03-25 13:49] pavel-kurnosov commented on #73
After long debugging I found that it was issue with pod on cluster, for some reason now initialization for postgresql slower then before, and k8t restarted my pod as not ready for long time. I changed time to check and all looks fine. Maybe can help someone who willl have same issues.

[2017-03-25 13:49] #73 closed

[2017-03-25 18:09] Carrotman42 commented on #73
That startup time for 1.07 and 1.08 is slightly longer, but I didn't
expect​ it to cause a problem. Please let me know if the startup time is
too long; I expect it to be at most half a second per database instance
passed as flags.

[2017-03-27 20:47] DanCarTroy commented on #37
Really useful chat! It helped me a lot with an issue I was having.

[2017-03-29 10:38] pilwon commented on #37
@laixer Can we reopen this issue until the issue is fully resolved?

[2017-04-04 13:27] norbert-yoimo opened #78 "cannot fetch token: Post https://accounts.google.com/o/oauth2/token: x509: failed to load system roots and no roots provided"
I'm trying to connect to a postgresql cloudsql instance, from a kubernetes pod, but when I try to establish a connection with `psql -h 127.0.0.1`, I get:

[code]

Looking at the logs of the cloudsql pod, I see:

[code]

I'm using cloudsqlproxy 1.07, with the following deployment spec:

[code]

Am I supposed to mount some SSL certificates inside the cloud sql pod?

[2017-04-04 17:39] Carrotman42 commented on #78
Please try the 1.09 release, it should include those certificates in the
docker container.

[2017-04-05 08:49] norbert-yoimo commented on #78
That fixed it, thank you.

[2017-04-05 08:49] #78 closed

[2017-04-05 08:52] norbert-yoimo opened #79 "How can I debug notAuthorized errors?"
I'm trying to connect to a postgresql instance by using `psql -h 127.0.0.1`, but that fails with:

[code]

And in the cloud sql logs I see:

[code]

The service account I'm using has the CloudSQLAdmin role. I have doublechecked that I have no typos in my project name, and have inspected the credentials file that is mounted into the cloudsql pod that it contains the service account credentials that

[2017-04-05 14:41] Carrotman42 commented on #79
I'm guessing that the project you listed in your original post is not actually your project ID since we don't have any databases inside the project "myproject-157612" according to our metadata. Can you send the project name and database name to cloud-sql@google.com and we can continue debugging there?

[2017-04-05 14:44] norbert-yoimo commented on #79
Sent mail

[2017-04-05 20:50] digiexchris opened #80 "How to connect using a service account credentials file using the go library"
I'm trying to make the go dialer work (from https://godoc.org/github.com/GoogleCloudPlatform/cloudsql-proxy/proxy/dialers/mysql) from outside of GCE as well as inside kubernetes. I can't use the default service account of the Compute Engine VM, since sometimes I don't run it there. Until now I've been running the proxy on the same machine as the go routine, and then connecting using mysql to 127.0

[2017-04-06 10:07] norbert-yoimo commented on #79
Solved, the issue was that I have assigned CloudSQLAdmin to my user, instead of CloudSQLClient.

[2017-04-06 10:07] #79 closed

[2017-04-06 17:34] remy-actual opened #81 "How to Programmatically check if proxy is active"
Any way on local dev to conditionally check from my application if gcloud_sql_proxy active?
I'm on Mac OS X El Capitan, running Wordpress and deploying to GAE flex php environment.
My use case is scripting a conditional check in wp-config.php so I can set different database connection parameters if Wordpress is using the Cloud SQL instance or local MySQL.
But I can't find anything different  betwe

[2017-04-06 19:52] Carrotman42 commented on #81
An easy way is to check if the process is still up. If it's not up anymore,
you certainly should start it again :)

If you're looking for a real healthcheck, you could periodically open a
connection to the UNIX socket and see if it: 1) accepts the connection and
2) that the server sends an initial handshake packet.

Unfortunately, that would cause extra connections to your instance, so
depending o

[2017-04-06 22:23] remy-actual commented on #81
This works:

[code]

[2017-04-06 22:23] #81 closed

[2017-04-10 18:02] kevvurs opened #82 "Dialing Freezes"
Running dialPassword from a local Go unit test to a 2nd gen. MySQL server. Not a lot different from the example provided in you package. My instance is white-listing all IPv4 connections right now. I have the right username and password. Dies after 3 minutes hang time. Exit status 2, no log.

[2017-04-10 18:32] Carrotman42 commented on #82
Please share the code you are using so I can help you debug.

[2017-04-10 19:25] pkyeck commented on #49
@apelisse I like your idea of having one service for all instances. could you also post the yml file for the pod, I'm currently trying to figure out how to expose different ports for the different instances ... thanks!

[2017-04-10 20:02] kevvurs commented on #82
# Solved #
My dumbass forgot about about the strict firewalls on our enterprise network. Went on a public network and it worked quite well. Fantastic job! I recall trying to use Cloud SQL about a year ago with Java 8 in Flexible environment and it had me in tears. This, by comparison was so easy and painless. Thanks guys! Sorry for a false alarm.

[2017-04-10 20:03] #82 closed

[2017-04-11 11:15] duzy commented on #78
Hi, I'm using the proxy lib (instead of cloud_sql_proxy) in my Go program. But I'm having exactly the same issue as this. All my guess is the cert files are missing, but not sure what to do for a fix!

[code]

[2017-04-11 12:52] Carrotman42 commented on #78
Are you creating your own docker container? If so, you have to include
certificates for yourself. Look at the Dockerfile in this repo for the base
container image we use.

[2017-04-11 16:53] duzy commented on #78
Yes indeed, I'm doing so. Thanks, I'm trying to add the certs manually.

[2017-04-12 19:17] samuelsmithhk commented on #37
Just putting my voice out there, I was following this: https://cloud.google.com/sql/docs/mysql/connect-external-app#proxy

And was receiving the same error on the recommended role, only worked when I changed to Project Owner role.

[2017-04-12 21:45] Carrotman42 commented on #80
There's an easy way (which is simple, inflexible, and potentially not generic) and a hard way (which is flexible but of course requires more code).

Easy way: Set GOOGLE_APPLICATION_CREDENTIALS to the path of the JSON file pointing to your credentials; when you call mysql.Dial some underlying code (https://godoc.org/golang.org/x/oauth2/google) will inspect this environment variable during the call

[2017-04-12 21:58] Carrotman42 commented on #82
The difficulty of using Java to connect to Cloud SQL from flex was my fault :/

I didn't understand the complexity of shipping such an app. Due to @laixer 's understanding of the problem, we released https://github.com/GoogleCloudPlatform/cloud-sql-mysql-socket-factory which is a much better solution.

[2017-04-12 22:01] Carrotman42 commented on #40
Please let me know if there's anything you've found related to this problem. I've not heard about this being a problem so I'm going to optimistically close this. Please reopen it if you are still having a problem.

[2017-04-12 22:01] #40 closed

[2017-04-12 22:03] Carrotman42 commented on #58
Do you have any more info available? Is this still affecting you?

[2017-04-13 18:01] digiexchris commented on #80
Thanks, that's exactly what I needed. I started with the dialer_test and fleshed it out a bit to figure it out for myself, I made a pull request in case it's useful for others too.

https://github.com/GoogleCloudPlatform/cloudsql-proxy/pull/83/

[2017-04-13 18:10] #80 closed

[2017-04-18 20:20] matthewvalimaki opened #84 "Add support for Unix sockets on Windows"
On Windows 10 I have `gcloud` setup and working. I downloaded the binary and without any arguments (per `Using automatic instance discovery with gcloud credentials`) I saw:
[code]
I guess this is to be expected as Windows does not support `:` in directory names, but perhaps by default the character should be `-` or changed for Windows specifically.

After changing the separator in code to `-` it w

[2017-04-19 00:51] Carrotman42 commented on #84
This is specifically for postgres+Windows. Note that non-tcp isn't
supported for Windows+MySQL instances, but I think another (more specific)
error comes out.

[2017-04-21 03:10] jerairrest commented on #78
Hello, I'm using 1.09 and trying to connect through a socket across containers on GCE and am receiving this error. I've tried using a msql client as well as receive the same message on stdout of my cloudsql container. Any thoughts on how to debug this?

[2017-04-21 04:27] Carrotman42 commented on #78
Are you building your own container? If so, please follow the advise in a
previous post of mine on this issue.

If not, please provide a little more information about your setup (OS,
other containers, etc). If you're using the precompiled docker image for
1.09 the certificates should already be available and automatically be
detected.

[2017-04-21 04:40] jerairrest commented on #78
I'm using the pre-compiled docker container `gcr.io/cloudsql-docker/gce-proxy:1.06` and connecting to it through a Kubernetes deployment using a stock alpine:3.5 image as well I've tried debian:jessie

my deployment is as follows: (I took some env information out but this is similar)

[code]

[2017-04-21 04:41] jerairrest commented on #78
wwwwoooowww..... 6 < 9. I'm sorry! Ignore me :)

[2017-04-21 09:57] chees commented on #37
I just ran into this as well. On our dev GCP project it works fine. On our production GCP project I have 2 service accounts with both the same roles and everything. One of them works, the other does not (it gives the same errors as in this ticket).

So either it has to do with the name or there's some weird race condition going on somewhere?

Anyway, I think this issue should be reopened.

[2017-04-21 18:48] laixer commented on #37
We have been unable to reproduce this problem.

For anyone that is running into this problem, can you send an email to cloud-sql@google.com referencing this issue.

If possible, please include examples where you are (1) running into the problem (2) not running into the problem (3) instance names (4) proxy logs (5) any other information that you think could help track down this problem

[2017-04-21 18:51] Carrotman42 commented on #37
Re-opening the issue as we try to track down the root cause. Please follow the advice in @laixer's comment above if you run into the issue.

[2017-04-24 09:36] chees commented on #37
FYI: I sent all details to cloud-sql@google.com

[2017-04-24 23:43] jesseshieh opened #86 "Staying alive on SIGTERM"
Hi, I'm wondering if it's possible to add an option to keep cloudsql-proxy from exiting on receiving a SIGTERM.

I'm running cloudsql-proxy on Kubernetes in a pod alongside a web app. When Kubernetes deletes a pod, it sends a SIGTERM to both cloudsql-proxy and my web app and then sends a SIGKILL 30 seconds later. Upon receiving the SIGTERM, my web app performs a graceful shutdown by draining the r

[2017-04-25 14:11] Carrotman42 commented on #86
What action do you want to have the Proxy process to take when it received
a SIGTERM? From your post it would seem that you want it to do nothing
instead.

Can you configure whatever is sending the SIGTERM to send nothing instead?
Or some dummy signal instead?

I suppose we could add a flag which causes the Proxy to exit after it sees
there are no active connections after receiving the SIGTERM, bu

[2017-04-25 14:25] jesseshieh commented on #86
Thanks for the thoughtful reply! I'm not sure how to tell Kubernetes not to send a SIGTERM, but I'll investigate a little and get back to you.

[2017-04-26 03:33] laixer commented on #37
@chees Can you try removing the Cloud SQL Client role from the service account that is not working, click Save, then add it back and click Save and let us know if that works.

[2017-04-26 07:25] chees commented on #37
Thanks to the cloud-sql@google.com people it's now working for me. The steps that fix it are:

Maybe this can help somebody who still runs into this before the root cause gets fixed.

[2017-04-26 21:14] hfwang commented on #86
If possible, I'd suggest writing a shell script that traps SIGTERM and emits a different signal to the cloudsql proxy.

[2017-04-27 13:58] MartinVandersteen commented on #37
I can confirm that the steps @chees just mentioned worked for me!! THANK GOD, a day lost but I'm GLAD it finally works. THANKS! ( plz fix so less people will throw themselves out of the window )

[2017-04-28 20:22] chatterjee1977 commented on #84
@matthewvalimaki  You are a life saver!!!! Wish I had checked the Issues section here first. Could you enumerate for my understanding why the tcp:5433 ?

[2017-04-28 20:31] matthewvalimaki commented on #84
@chatterjee1977 the `tcp` is required to tell the tool not to use `unix` (which is not supported on Windows anyhow) and the port is a requirement by the tool itself. Documentation says `For connectivity over TCP, you must specify a tcp port as part of the
    instance string. For example, the following example opens a loopback TCP
    socket on port 3306, which will be proxied to connect to the in

[2017-05-01 10:47] mpskovvang opened #87 "CloudSQL Proxy 175% slower than direct connection"
Is the proxy expected to be 175% slower than a direct connection?

Every hour I'm also experiencing some spikes. The first query takes up to 1 second. Could it be some kind of reauthentication?

In my small test, the first query (which creates the connection) takes 5ms without proxy and >15ms with proxy.

Can I do any configuration to reduce the latency?

[2017-05-01 14:21] Carrotman42 commented on #87
Please try using connection pooling. It will drastically decrease the
amount of time it takes to execute queries due to a decrease in the total
number of "new connection handshakes". You will much shorter latency
with/without the proxy using a connection pool.

Also, the first connection via the Proxy per hour will be a little longer,
as we have to request a certificate from our backend which only

[2017-05-01 14:25] Carrotman42 commented on #87
I read your post a little more closely and it does appear that you're
hitting some spikes during cert refresh, or at least it's part of your
problem. The Proxy code could easily be smarter about refreshing it's
certificate: instead of waiting for the hour to be up and blocking new
connections until a new certificate is retrieved, it could ask for a new
cert 5 minutes beforehand (in the background)

[2017-05-02 06:39] mpskovvang commented on #87
Thanks for your suggestion @Carrotman42 but unfortunately PHP does not support connection pooling unless using the ODBC driver which I guess is more inefficient.

The spike every hour is my primary problem as it is triggering my monitoring alerts. Maybe these details might be helpful:
The spike happens for all proxy containers every hour blocking 1 or more queries for ~1 second. The query doesn't

[2017-05-03 13:36] mpskovvang opened #88 "Feature: Connection Pooling"
@Carrotman42 pointed out in issue #87 that connection pooling might improve connection latency.

Is it possible that the cloudsql-proxy can handle this itself? If is it best practice it would benefit a lot of projects/users.

[2017-05-03 14:26] Carrotman42 commented on #88
There's still overhead in the mysql-/postgres- level connection handshakes
(after the encrypted handshake of the Proxy completes), so while a
connection pool implementation inside the Cloud SQL Proxy would reduce
latency it can't reduce latency as well as the many existing solutions for
connection pools. If you have access to a connection pool at the
application level, it will always be more effic

[2017-05-03 17:55] ssdowd opened #89 "Fail on multiple replicas for 1.09"
Using the example from Kubernetes.md, I've created a deployment with 2 replicas of the cloudsql-proxy.  With versions 1.05 and 1.08, it works.  With version 1.09 it fails if replicas is greater than 1 with this message

[code]
The kubernetes dashboard shows this error:
[code]
Setting replicas to 1 or using version 1.08 both make it work.

Example config:
[code]

[2017-05-03 20:22] Carrotman42 commented on #89
Please check the URL that you're pulling from. It should not start with "b."

Try "http://gcr.io/cloudsql-docker/gce-proxy:1.09"

On May 3, 2017 10:55 AM, "Sean Dowd" <notifications@github.com> wrote:

[2017-05-03 21:06] ssdowd commented on #89
Tried it both ways.  Why would it work with replicas: 1 and not with replicas: 2 if the URL were bad?

[2017-05-04 20:47] chatterjee1977 commented on #84
On a separate page located here
https://cloud.google.com/sql/docs/mysql/connect-admin-proxy

This has the steps to invoke this from a Windows machine with the following command line after creating a service account

./cloud_sql_proxy -instances=<INSTANCE_CONNECTION_NAME>=tcp:3306 \
                  -credential_file=<PATH_TO_KEY_FILE> &

[2017-05-05 19:10] Carrotman42 commented on #89
I didn't have any good ideas why it isn't working period, so it was mostly a guess: I know that the `b.gcr.io`-prefixed URIs will be going away at some point so I wanted to make sure it had nothing to do with this problem.

Your efforts to narrow it down to a difference between 1.08 and 1.09 is much appreciated, especially because there is a very small number of commits that it possibly could be.

[2017-05-05 19:36] apelisse commented on #89
Seems related to https://github.com/moby/moby/issues/23184.

Here's my guess at what's going on:
- One of the kubernetes node has an incomplete/corrupted left-over of the 1.09 image
- Increasing the number of replicas means that the new pod is scheduled on that node

Suggestion: Make sure it's always failing on the same node(s), connect on the failing node(s), manually try pulling the image (make

[2017-05-05 20:51] ssdowd commented on #89
@apelisse That was it - had to remove 2 directories from `/var/lib/docker/image/overlay/layerdb/sha256/` to get a pull to work on 1 node.  1.09 is now working for me.  Thanks.

[2017-05-05 20:51] #89 closed

[2017-05-06 21:55] cuu508 opened #90 ""connection timed out" errors"
In my cloud_sql_proxy output I see fairly regular (every hour or so) messages like this one:

`
cloud_sql_proxy[2112]: 2017/05/05 21:38:42 Reading data from xxx:xxx had error: read tcp xxx.xxx.xxx.xxx:xxxxx->xxx.xxx.xxx.xxx:xxxx: read: connection timed out
`

These seem to match up with errors like this one in my Python code:

[code]

I have two similar GCE VMs in same region but different availab

[2017-05-10 01:29] tombmurphy commented on #37
Confirming @chees steps fixed the issue too, glad I found this post as I was stuck  on this for a while. This really needs to be fixed asap !

[2017-05-11 06:31] GEverding commented on #58
Hey, I'm not sure if this is the same issue but they sound related. I'm using the cloud proxy in gke with a managed Postgres instance and periodically I'll get timeout exceptions in my app.

'''
java.sql.SQLTransientConnectionException: HikariPool-1 - Connection is not available, request timed out after 30000ms.
'''
I lost the logs for the cloud proxy but I'll grab them next time I see it.

Is thi

[2017-05-16 11:11] rigalrock commented on #87
In my case cloud sql proxy is way too slow as compare to direct connection using ip whitelisting .
I wrote a small api  where I was starting a transaction and committing it . I deployed this app first on Google Container Engine and was connecting to Cloud Sql using proxy , second I deployed it on Google Compute Engine and was connecting to Cloud sql via ip whitelisting . Below are the results
+---

[2017-05-16 20:08] laixer commented on #87
Did you do a "warm up" before starting your benchmark? There is some overhead when the first connection is opened. Would be nice to know if the latency is attributable to that. Do you have other percentiles, like 95%?

P.S. there's a native java library that doesn't require installing the go proxy: https://github.com/GoogleCloudPlatform/cloud-sql-mysql-socket-factory

[2017-05-19 08:19] rigalrock commented on #87
@laixer
Yes I warmed up the set up before doing my test . It was not a performance test .I was sending 2 requests per seconds only . Latency is not attributed in these metrics as these metrics have been captured at  server side  .
After test I have deleted kubernetes cluster so I don't have exact 95th percentile data but it was also around 99th % , (-10 ms ) .
I am getting Insufficient Permission

[2017-05-19 12:47] psychoo118 commented on #86
@jesseshieh I am facing the same issue as you. Could you solve the issue? If yes, could you tell me how?

[2017-05-19 14:05] jesseshieh commented on #86
I haven't solved it yet, but @hfwang's suggestion sounds good to me.

[2017-05-19 14:36] Carrotman42 commented on #87
Double-check​ing: were all of the resources (GKE cluster, GCE VM, Cloud SQL
database) all in the same zone?

Is it possible for you to share your test setup for me to try to reproduce
your numbers?

Also, 99% is telling but not the whole story. If you have more percentile
data at all it would be useful in investigating (if you can't share your
repro code).

On May 19, 2017 1:19 AM, "rigalrock" <no

[2017-05-19 19:41] laixer commented on #87
@rigalrock application default credentials support reading credentials from a file [1]. assuming you already have a secret mounted with the credentials, you can use GOOGLE_APPLICATION_CREDENTIALS to that file and the library should work

[1] https://developers.google.com/identity/protocols/application-default-credentials#howtheywork

[2017-05-19 20:26] psychoo118 commented on #86
It turned out that the entrypoint of my main container was not in exec format so SIGTERM was not transfered to nginx and it was functioning until SIGKILL stopped it finally.

[2017-05-25 16:08] andersgb opened #91 "oauth2: cannot fetch token"
Our GKE based webapp is unable to connect to Google Cloud SQL right now. I have no idea why this suddenly started happening. We haven't touched the GKE deployment in several days.

Our logs show everything being OK until 14:30:12 CEST today (2017-05-25), when all connections fail with this error:
`2017/05/25 15:58:37 couldn't connect to "****:europe-west1:****": Post https://www.googleapis.com/sql

[2017-05-25 17:35] Carrotman42 commented on #90
Sorry for the delay. This is very interesting!

Are both GCE VMs running the exact same code? Is the Cloud SQL Database in the same zone as either of those VMs, or is it in yet a third?

[2017-05-25 17:41] Carrotman42 commented on #91
Agreed that this doesn't appear to be a cloudsql-proxy-specific issue, and I'm not quite sure how to go about debugging this other than asking you to SSH to your kubernetes nodes and confirm that the network is indeed broken (or at least that HTTP to accounts.google.com isn't working properly).

If SSH to the nodes doesn't work, it's possible a network issue is preventing some packets from flowing

[2017-05-25 17:42] Carrotman42 commented on #91
If it does turn out to be the network, moving your cluster to a different zone may fix things.

[2017-05-25 19:23] cuu508 commented on #90
The VMs are in us-east1-c and us-east1-d. Not sure which zone the database is in, it just says "Location: us-east1". Both VMs are set up with the same provisioning script around the same time, so should be very similar.

In my Django app I had `CONN_MAX_AGE` set to 60, meaning that every database connection is used for up to one minute and then is closed and reopened. I had a hunch that these erro

[2017-05-25 20:33] andersgb commented on #91
Hm, strange, those sanity curls work just fine. I'll look into moving to another cluster and see if that helps.

[2017-05-25 23:29] andersgb commented on #91
The cloudsql connections magically started working again around 23:07 CEST (on the same cluster). Dunno how this could happen, I'm in contact with Google Cloud support about it.

[2017-05-30 14:57] OlivierBoucher commented on #44
I could submit a pull request if you can tell me which logging library you would like to use.

[2017-05-31 17:01] Carrotman42 commented on #91
Any updates here? I suspect there was just some transient network problem but it'd be good to confirm.

[2017-05-31 17:08] Carrotman42 opened #92 "Errors during Post to createEphemeral: PROTOCOL_ERROR"
We are receiving intermittent reports that the Cloud SQL Proxy is receiving errors which look similar to this:

    couldn't connect to "$INSTANCE": Post https://www.googleapis.com/sql/v1beta4/projects/$PROJECT/$NAME/createEphemeral?alt=json: stream error: stream ID 1; PROTOCOL_ERROR

If you are encountering this problem, please send the following information to cloud-sql@google.com:

   1) Cloud

[2017-05-31 20:22] Carrotman42 commented on #92
We have confirmed that the issues are due to a bug found in earlier versions of the Cloud SQL Proxy (we believe it's related to https://github.com/google/google-api-go-client/issues/161), triggered by a rollout being done for internal Google infrastructure.

All users should update to the latest version (1.09) to ensure that this problem does not affect you now or in the future.

[2017-05-31 22:13] thijsterlouw commented on #92
This also affected us. It would be good to put this message on the Google Cloud Console dashboard and/or send an email out, because it took a while before we (via Googling) ended up here...

[2017-05-31 22:15] josh123a123 commented on #92
Great way to loose trust Google...

On Wed, May 31, 2017, 5:13 PM Thijs Terlouw <notifications@github.com>
wrote:

[2017-05-31 23:08] Carrotman42 commented on #92
The underlying infrastructure change which was triggering this bug has been fully rolled back. If you are still encountering this issue please reopen this issue and send an email to cloud-sql@google.com with the information from the original post.

[2017-05-31 23:08] #92 closed

[2017-05-31 23:15] Carrotman42 commented on #92
I apologize for any trust that was lost here; we worked fast to fix the problem and I was not engaged in any decisions about posting publicly until right before @thijsterlouw's post, at which point the rollback was mostly complete.

Please feel free to email me at cloud-sql@google.com (reference this issue in your mail so that I end up getting forwarded the message) with any specific concerns you

[2017-06-01 08:49] andersgb commented on #91
We didn't really get to the bottom of it. The GCP support guy didn't find anything of note in the logs, neither did we. The main suspect is a Docker networking problem. "Some transient network problem" is probably the best description we have right now.

Probably a coincidence, but 5 days later we actually got a very similar issue, but this one seemed to affect more people. This time it was a `str

[2017-06-01 19:25] Carrotman42 commented on #90
Yes, if your app is closing connections after 60 seconds that can definitely cause the sort of messages from the Proxy that you posted in the original issue, but it is still a little weird that the django app was also seeing errors related to that closing.

Since the issue has gone away I will close this issue since it seems you've found a workable workaround. If that ceases to be stable please fe

[2017-06-01 19:25] #90 closed

[2017-06-01 19:27] Carrotman42 commented on #91
Yep, that issue is just a coincidence. I've posted on that Cloud SQL Discuss post you linked to explaining the issue yesterday (and there's also https://github.com/GoogleCloudPlatform/cloudsql-proxy/issues/92 about it).

Glad to hear things are stable now. I do suspect that the original issue was simply related to docker or the networking in that zone. Please let me know if there's anything I can

[2017-06-01 19:27] #91 closed

[2017-06-06 14:16] macuenca opened #93 "IPv4 addresses still need to be authorized after connecting through cloudsql-proxy"
We have a Python application in a GKE cluster that connects to a CloudSQL instance trough cloudsql-proxy. Our connections are effectively going through the proxy, I can see traffic from and to the cloudsqlproxy container and the logs confirm this.

The `cloudqslproxy` has access granted from the `cloudsqlproxy~%` hostname and no password.

This is how our Django app config file looks like:
[code]

[2017-06-06 14:50] Carrotman42 commented on #93
You're right - the point is to not have to whitelist IPs. Let's try to
figure out what's up with your system.

You say that you see traffic and logs from the Cloud SQL Proxy, which is a
good sign that it is working correctly somewhat. Is it possible that only
some of your VMs are contacting the Proxy, whereas others attempt to
directly connect to the database's IP?

Some other clarifying questions

[2017-06-06 16:47] Carrotman42 commented on #44
As for what library to use, I would prefer to continue using the standard
logging library in Go. But, it'd be best to abstract it so that users of
the Go library can swap in their own favorite logging library if they feel
like it.

My initial thought is to create a new package `
github.com/GoogleCloudPlatform/cloudsql-proxy/log` which contains exported
variables `Infof`, `Verbosef`, etc which simp

[2017-06-07 13:43] mhindery commented on #86
We have the same setup: a kubernetes pod having a web app container + cloudsql container. You can easily trap the sigterm signal the following way:
[code]

This delay will ensure the web app is shut down before the cloudsql proxy container. Previously you'd need a custom container since it is available in the `scratch` image, but since the 1.09 release of the cloudsql proxy, they use `alpine` as b

[2017-06-07 14:58] macuenca commented on #93
Ok, so this is a little embarrasing... Everything seemed to be working as expected and it was. But we had a dependency on second microservice which wasn't using cloudsql-proxy, so removing the IPs from the grant list in Cloud SQL caused it to fail.

This was hard to catch because the rogue microservice was the one handling the sessions, which only has a small fraction of the traffic the other ones

[2017-06-07 14:58] #93 closed

[2017-06-09 18:09] Jille opened #94 "Feature: Refresh SSL cert before it expires in the background"
We should refresh the SSL certificate in the background before it expires. This will avoid the latency spike every hour (as mentioned in #87).

[2017-06-09 18:11] Jille commented on #86
I'd like to see the proxy stop accepting new connections (but keep active ones alive). That way I can SIGTERM it and immediately start a new (version of the) proxy without interrupting service.

[2017-06-10 20:31] mattes opened #95 "brew formula"
Is someone working on a brew formula?

[2017-06-10 20:57] Carrotman42 commented on #95
Not sure what that is :)

[2017-06-10 22:36] mattes commented on #95
After thinking about it more, there are some obstacles:

* cloudsql-proxy either looks at `GOOGLE_APPLICATION_CREDENTIALS` env variable
   or at the flag `-credential_file`.
* When using/installing `gcloud`, neither the env variable is set nor is there a service account key file.

So `gcloud` and `cloudsql-proxy` are not compatible as of today, I believe.

Ultimately, it would be really nice if th

[2017-06-11 02:03] Carrotman42 commented on #95
If you don't set the env variable or the flag, the Proxy will still get the
authentication used in gcloud if you have run `gcloud auth login`

[2017-06-11 02:37] mattes commented on #95
word! just tried again, no idea what I was doing wrong before.

[2017-06-13 18:14] fotinakis opened #97 "gcloud sql proxy start ?"
Is there a way to run cloudsql-proxy with the user credentials from my local `gcloud auth` setup, without creating a service account?

Ideally, it would awesome if this was available in gcloud itself and I could just do something like this for dev purposes:

[code]

[2017-06-13 18:32] Carrotman42 commented on #97
If you run "gcloud auth login" and don't specify a --credential_file flag,
then the Proxy will automatically pick up authentication from gcloud.

[2017-06-13 18:36] Carrotman42 commented on #97
Also: remember to ensure that your firewall is strict enough that only
hosts that you control have access to the Proxy, given that you're
specifying to accept connections from 0.0.0.0 directly. I just get a little
security conscious when I see people write that out so I want to say that
when I see it :)

[2017-06-13 19:01] fotinakis commented on #97
Thanks @Carrotman42 — I am not specifying a `--credential_file` and just using `gcloud auth login`, but get this when running `cloud_sql_proxy -instances=...`:

[code]

Using this instead worked: `gcloud auth application-default login`. And thanks for the firewall note, yes definitely!

[2017-06-13 19:01] #97 closed

[2017-06-14 02:47] vochicong commented on #37
Hi! after removing a service in App Engine (GAE), my GAE app can't connect to the Cloud SQL instance in the same project anymore.

When connecting using Cloud Shell and Cloud SQL proxy, I see the same error as you have mentioned above.

[code]

The following did not help:
- Deleting and/or re-creating the service
- Re-creating the Cloud SQL instance
- Trying a Cloud SQL Client role (for Cloud SQL

[2017-06-14 03:13] Carrotman42 commented on #37
Please file a new issue since it appears to be a different issue (the given
workarounds in this thread didn't work); we can debug there.

[2017-06-14 03:24] vochicong opened #98 "CloudSQL proxy stops working after removing a GAE service"
Hi! after removing a service in App Engine (GAE), my GAE app can't connect to the Cloud SQL instance in the same project anymore.

Cloud SQL error log :

[code]

I believe that internally GAE use Cloud SQL proxy for the connection.
So trying to connect from Cloud Shell using Cloud SQL proxy, I see the error similar to #37.

[code]

The following did not help:
- Deleting and/or re-creating the serv

[2017-06-14 04:06] imtaco-lh opened #99 "Feature: flag to set client.RefreshCfgThrottle"
Default client.RefreshCfgThrottle is one minute, so when cloudsql failover, proxy might wait for more than one minute to connect the new master if first connection retry fail.

Is possible to add a flag to set RefreshCfgThrottle manually ?

[2017-06-14 17:07] Carrotman42 commented on #99
I think this is a good idea, although I'd like to note that there probably should be some sort of forced lower bound to help people not shoot their API quota in the foot in the case that their application does not exponentially back off.

[2017-06-14 17:09] Carrotman42 commented on #37
Sorry all that this has yet to be fixed. I have again pinged the team which is culpable for this issue and will escalate as needed.

[2017-06-14 17:23] Carrotman42 commented on #98
Are you using App Engine Flex? App Engine Standard does /not/ use the Cloud SQL Proxy under the covers (App Engine Flex does indeed), so you'll have to elaborate your situation a little more in that case for me to help out.

Can you explain what you mean by "after removing a *service* in App Engine"? What is a "service" in App Engine? Do you mean a service account as described [here[(https://cloud

[2017-06-14 17:28] Carrotman42 commented on #95
I have zero experience with homebrew, but if you would like to submit a formula I would be very gracious!

[2017-06-14 17:33] #57 closed

[2017-06-14 17:37] Carrotman42 commented on #84
Other than defaulting to TCP on windows, another option is to add support named pipes in windows, which works for just MySQL (not postgres).

I've considered doing tcp by default on windows, but I am mostly afraid of people being confused about which port the Proxy starts listening on. There's definitely some things that can be done here, but I don't personally have a lot of time to look into it.

[2017-06-14 18:09] mattes commented on #95
I will look into this prob within the next days.

[2017-06-15 15:19] OlivierBoucher commented on #44
Thanks, will submit a PR soon

[2017-06-15 16:30] OlivierBoucher commented on #44
@Carrotman42 Can you tell me if the current interface suits you? I'm pretty sure it would be compatible with most logging libraries. Just give me a clear and I'll replace references to the stdlib logger in the entire repo

[2017-06-15 17:11] park9140 commented on #86
A preStop hook execution will prevent the `SIGTERM` signal from being sent until the script execution is completed.  If you use `command: ["/bin/bash", "-c", "sleep 15"]` as the command for the preStop hook you can stop shutdown.

https://kubernetes.io/docs/concepts/workloads/pods/pod/#termination-of-pods

Also you can add communication between containers using shared volumes https://kubernetes.io

[2017-06-15 20:50] pavel-kurnosov commented on #37
I setup new env few days ago and I still have same problem with access rights, none of user rights from Cloud SQL Client role not working. Only editor gave proper access to allow create connection to DB. I don't know is it make any difference, but we use Postgres as DB.

[2017-06-16 15:35] mykolasmith commented on #44
https://github.com/GoogleCloudPlatform/cloudsql-proxy/pull/100

[2017-06-16 18:53] MansoorMajeed commented on #37
I was playing around with kubernetes and cloud sql proxy and faced the same issue. The proxy works fine on one google account (with Cloud SQL client role itself), but it doesn't work on another one ( In the account where it doesn't work, I'm not the owner. I have the service account admin privilege and project editor privilege though).
I was trying to follow instructions mentioned by @chees but, t

[2017-06-16 19:22] chees commented on #37
If a service account doesn't show up under IAM it means it doesn't have any
roles assigned to it yet. You can add it with the Add button at the top of
the IAM screen.

On Jun 16, 2017 20:53, "Mansoor" <notifications@github.com> wrote:

I was playing around with kubernetes and cloud sql proxy and faced the same
issue. The proxy works fine on one google account (with Cloud SQL client
role itself), b

[2017-06-16 20:12] Carrotman42 commented on #44
@OlivierBoucher sorry I didn't see your comment from a day ago, and I'm also not exactly sure which interface you mean.

After receiving #100  I went ahead and made the changes I suggested in https://github.com/GoogleCloudPlatform/cloudsql-proxy/issues/44#issuecomment-306547267. This will be sent out later today.

[2017-06-16 23:16] Carrotman42 commented on #44
Setting -verbose=false will now turn off the new/closed connection logs. Note that errors which are not EOF will still be logged when in non-verbose mode since these may be useful for debugging client-/server-side problems. Those who would like to disable all output can use the -quiet flag submitted in #100

[2017-06-16 23:16] #44 closed

[2017-06-17 10:58] vochicong commented on #98
Thanks, @Carrotman42 .

It was somehow urgent, so I had to create a new GCP project, set up GAE and CloudSQL from scratch. Things work like a charm in the new project.

Regarding your questions, I'm using GAE Flex, not GAE Standard.

"Service" refers to https://cloud.google.com/appengine/docs/flexible/ruby/an-overview-of-app-engine. I removed one of them using [gcloud app services delete](https://

[2017-06-19 06:28] MansoorMajeed commented on #37
@chees Thank you very much. The issue is resolved. Adding the service account under IAM roles fixed it. But that is kind of confusing, because when I created the service account, I assigned the role of "Cloud SQL Client".

[2017-06-21 19:39] munnerz opened #102 "Add support for TLS connection from App to Proxy"
Hi there

I'm deploying a large microservices application onto Kubernetes. End-to-end encryption between pods is a requirement, and so we're looking to use TLS whenever data may be transmitted between applications.

Both MySQL and PostgreSQL support TLS for secure connections (https://dev.mysql.com/doc/refman/5.7/en/secure-connections.html & https://www.postgresql.org/docs/9.1/static/ssl-tcp.html)

[2017-06-21 20:37] Carrotman42 commented on #102
There is no current plans to support this. If you're already going through
the trouble to deal with SSL, you can just configure your cloud SQL
database to require SSL for connectivity and open the firewall up. Why do
you need to doubly encrypt?

Does the Proxy have too much overhead to ship it as a sidecar? Last I
checked, it had a very low minimum footprint (< 5MBs) and only uses memory
in propor

[2017-06-23 15:07] pdecat opened #103 "Update k8s examples to include example resource requests"
Hi,

are there any cpu and memory limits recommendations for kubernetes usage?

That could be worth mentioning in the README.md.

[2017-06-23 18:28] Carrotman42 commented on #103
It completely depends on how you use it, i.e. connection/query patterns.

CPU usage is proportional to the I/O rate.

Memory usage is proportional to the number of active connections through
the proxy at a specific time.

The best way to figure out the limits for the Proxy in conjunction with
your specific application is to test it under high, medium, and low loads
(on your application) to get an

[2017-06-23 19:40] nathanwelch commented on #86
@park9140 or @mhindery were you guys able to get either of your solutions working? It seems like `/bin/bash` and `trap` are not in the gcr.io/cloudsql-docker/gce-proxy:1.09 image. `sleep` is but setting a `preStop` hook to just `/bin/sleep 30` doesn't seem to work.

Also, I get a `FailedPreStopHook` on the container when trying to sleep on the `preStop`. I thought maybe the `FailedPreStopHook` was

[2017-06-23 20:28] Carrotman42 commented on #86
If you're going down the route of compiling your own Proxy, you might as
well just write Go code to catch the signal and handle it in some way there.

You can use the os/signal library to watch for an interrupt and handle it
that way. If the code is generic enough (and those on this issue seem to
like the functionality) I'm happy to accept a pull request.

See here for an example handler:
https://

[2017-06-23 21:51] Carrotman42 commented on #98
If the IAM link doesn't work for you, then you may not have the appropriate permissions to access the Cloud SQL database from your account (and transitively, the Cloud Shell will not have the appropriate permissions either). You'll have to ask someone in your corporation to check that you have appropriate access to Cloud SQL databases by making sure you have the "Cloud SQL Client" role.

Looks lik

[2017-06-24 06:19] vochicong commented on #98
I have full permissions. The IAM link requires an `@gmail.com` email, while we use our company emails.

I wish Google supports would carefully investigate my case to see what happened in the old project. The AWS guys are very supportive in a case like this, they would go online and help me to investigate the case.

I like GCP very much, but feel as it is a DIY platform, not so friendly as AWS.
If

[2017-06-24 08:41] pdecat commented on #103
Hi @Carrotman42, thanks for the advice.

Could there be a way to configure the maximum number of active connections the proxy accepts?
That would somehow put a limit on the memory it uses at any time, isn't it?
But that's probably out of its scope as it would probably then act as kind of a connection pool.

FWIW, at the time being, we're deploying the cloudsql-proxy as a sidecar container in our a

[2017-06-26 22:18] Carrotman42 commented on #103
There is no way to limit connections via the Proxy, it will blindly attempt to connect to the database any time something connects connects to it. As you alluded to, it is up to your application to deal with connection tracking, pooling, and limiting as appropriate.

That being said, I'm not completely opposed to having a hard-limit in the Proxy to help people prevent applications from OOMing the

[2017-06-27 16:54] Carrotman42 commented on #98
Apologies if I'm not being as helpful as you'd like. I am happy to investigate what happened on the old project, but often customers are not willing to continue the back and forth required for root-cause investigation so I wanted to let you move on if you didn't care. It sounds like you care, so let's keep investigating.

(also, FYI: I'm not Google support, I'm a Cloud SQL engineer. But I play the

[2017-07-11 11:36] wuttem commented on #86
Thank you for the information. I had the same problem. I got it to work with sleep on preStop...
Anyway the solution does not seam very clean to me...

Maybe there is some way to get a environment variable or commandline parameter with a wait time before shuting down on SIGINT ?

[2017-07-12 02:49] jfx41 commented on #37
So I am having the same issue, but removing the role under IAM and then adding Cloud SQL Client back to it didn't fix anything.

I went under IAM > Roles and created a new role that contained cloudsql.* and then assigned that to the service account and it worked.  I wish I knew exactly which options I needed to choose to make it a "Client" role instead of adding everything.

Due to my lack of slee

[2017-07-12 02:55] jfx41 commented on #37
Ok, so I just removed my custom Role and added Cloud SQL Viewer in addition to Cloud SQL Client and now it works.

I've stopped cloud_sql_proxy several times and restarted and it starts no problem.  Hopefully, this might help someone else out.

[2017-07-12 21:10] laixer commented on #37
If you want to create a custom role, you need cloudsql.instances.connect and cloudsql.instances.get permissions. Those are the two permissions that Cloud SQL client has.

[2017-07-12 21:28] jfx41 commented on #37
@laixer Thank you very much.  Is there something else that Cloud SQL Viewer has that would make it work?  It seems like there is something else in addition to Client (at least in my case).

I am just glad adding Viewer fixed the problem and hopefully that helps someone else out.  I wish I had the time to fiddle with the custom roles and figure out what Viewer added that made it work.  Sadly, I don

[2017-07-12 21:31] laixer commented on #37
Client role should be sufficient. Did you save between removing & re-adding the Client role?
The issue reported by others in this thread occurs when the name of a deleted service account is reused.
Are you using a service account and if so, do you recall if you have previously delete one with the same name?

[2017-07-18 16:08] munnerz commented on #102
Thanks for getting back to me -

So regarding your first point of opening the firewall up, my issue is that I'm running on GKE and so would need to run some kind of daemon on each node that has permission to update the SQL instance to grant each node access to the cluster. Then, if that were done, I could skip out the proxy altogether as you say.

It doesn't have too much overhead, however I am ma

[2017-07-19 16:50] mykolasmith commented on #102
Just run cloudsql-proxy as its own container in each pod. That way, your application pods can communicate to it over localhost and you don't need to expose your proxy across your cluster.

[code]

[2017-07-21 05:22] gytisgreitai opened #106 "Logging to stdout instead of stderr ?"
Running `gcr.io/cloudsql-docker/gce-proxy:1.10` on GKE it seems that the logs are sent to stderr.

![screenshot 2017-07-21 08 16 56](https://user-images.githubusercontent.com/1690228/28450094-ba027c64-6ded-11e7-9b46-519230ebb7df.png)

Not sure though why it is done, as it seems that go log.Printf should send logs to stdout?

[2017-07-21 16:46] Carrotman42 commented on #106
log.Printf in Go sends logs to stderr. From the [docs](https://golang.org/pkg/log/):

Is that a problem for you? If so, why?

[2017-07-21 20:23] gytisgreitai commented on #106
1. You cannot create metrics in stackdriver for cloudsql-proxy errors (and alerts after that) cause success shows up as errors
2. When filtering to only view errors in stackdriver ("ok, something is messed up, let's look at the logs") it would be preferable to  filter out the noise

So while it's not a problem, but tad inconvenient (I would prefer to keep those Errors/Warning levels for actual pro

[2017-07-27 11:31] daljeet-singh opened #107 "Cloud Sql Proxy on same instance for 2 SQL servers"
Hi, how to enable cloud proxy on same server for 2 different sql instances ( master, slave ) or how to define custom ip address for host.

I dont want to use different port for different connections, can we use different ip addresses?

[2017-07-27 14:31] Carrotman42 commented on #107
Why don't you want to use a separate port for each instance?

I believe it is possible to use a different loopback IP address instead of
different ports (on the same loopback IP address) but I've never done it
and I don't know how. You can search the web for how to set up a multiple
local IPs on the same computer for your OS. Once you have multiple IPs,
using them should be something like:

    --

[2017-07-28 19:53] Carrotman42 commented on #98
Monthly ping. If you'd like to help figure out what happened here I'm also still happy to help out. Otherwise I'll close out the issue (but you're welcome to open up another issue any time!)

[2017-07-28 20:53] Carrotman42 commented on #106
If you set the flag `--verbose=false` then all log messages other than the initial startup messages will be real errors. Hopefully that will help out with your issues, although I agree it's not a perfect solution since the initial log messages are generally just Info rather than errors.

If you'd like to send a pull request, feel free to add a new flag called something along the lines of `--write_

[2017-07-28 20:58] Carrotman42 commented on #102
@munnerz on your point about having 15 microservices: is there no other thing which needs to be shared among all of these microservices? I was thinking that you'd have a single configuration for a generic Cloud SQL Proxy container and somehow share that across all of your services. I don't use Kubernetes, so I'm not sure if that's particularly easy, but it seems like creating an autoscaling pool o

[2017-07-28 21:14] Carrotman42 commented on #87
Closing due to lack of updates. Please feel free to reopen the issue if there are any other questions. I believe the summary here is "the Proxy has high new connection latency, but when using connection pooling the latency should not be significantly higher than using native mysql SSL connectivity"

[2017-07-28 21:14] #87 closed

[2017-07-28 21:29] vochicong commented on #98
Thank you. I'm sorry currently I don't have enough time for this. Can we
close this issue for now?
On Sat, Jul 29, 29 Heisei at 2:53 Kevin Malachowski <
notifications@github.com> wrote:

[2017-07-31 07:37] kevchentw commented on #61
There is a chart for it on https://github.com/kubernetes/charts/tree/master/stable/gcloud-sqlproxy

[2017-07-31 07:38] kevchentw commented on #61
Maybe we can add it on readme?

[2017-07-31 08:06] jayjun commented on #61
Oops, I closed the pull request (#67) already, but left this issue open.

I’m closing this issue now. Maybe @kevchentw can submit another pull request to adjust README.

[2017-07-31 08:06] #61 closed

[2017-07-31 08:31] kevchentw commented on #61
ok. I will send a PR latter

[2017-08-07 18:02] #99 closed

[2017-08-08 19:15] #98 closed

[2017-08-11 14:19] chrissound opened #114 "Unable to connect to SQL instance within container"
I've hopefully thoroughly explained it here: https://stackoverflow.com/questions/45635210/unable-to-connect-to-cloud-sql-from-container-using-cloud-sql-proxy

This did work initially so I'm a bit confused..

[2017-08-11 14:47] chrissound commented on #114
Oh boy... I needed to add the `Cloud SQL Client` permission. Instead of the `Cloud SQL Admin`...

[2017-08-11 14:47] #114 closed

[2017-08-14 03:06] paulwalker commented on #88
It seems at least using the built in connection pooling in GoLang's database/sql built-in package does not work properly in GCE/GKE. https://github.com/jinzhu/gorm/issues/246

[2017-08-14 03:16] Carrotman42 commented on #88
I don't think that issue is relevant here. The Proxy is unaware of the
underlying database protocol (and drivers used in Go's database/sql know
about the underlying protocol), whereas this issue is requesting connection
pooling on the Proxy level (database agnostic, just for the encrypted
channel). Unless I'm misunderstanding, that issue is about the
database-aware pooling in database/sql having s

[2017-08-14 18:15] paulwalker commented on #88
[code]
I'm simply pointing out a scenario, within the Google ecosystem, a language invented by Google, in a container orchestration framework created by Google, in a cloud hosting service by Google where connection pooling is not working.

Can you explain more about how this is _not_ relevant?

[2017-08-16 18:03] Carrotman42 commented on #107
Any thoughts here? Is there anything I can do to help?

[2017-08-16 18:03] Carrotman42 commented on #102
Any updates here?

[2017-08-16 18:12] Carrotman42 commented on #88
Ah I see, I mistakenly thought your initial post was an example of a case where implementing this feature request would help solve that issue. From my read of that issue (specifically https://github.com/jinzhu/gorm/issues/246#issuecomment-59162133), the problems arise when you are hosting your own database on GCE (or AWS, according to the comment) rather than when using Cloud SQL and the Cloud SQL

[2017-08-16 18:14] Carrotman42 commented on #42
Please reopen if you have any more thoughts or information for me to help debug.

[2017-08-16 18:14] #42 closed

[2017-08-16 18:20] mattes commented on #95
Priorities shifted unfortunately. I'm not actively looking into this right now.

[2017-08-16 19:50] mykolasmith commented on #102
Quick addendum to my previous response. We've found that running a ton of cloudsql-proxy containers in each pod results in a lot of overhead and extraneous connections to the database. We've replaced this with a single pod / service running two containers: 1) cloudsql-proxy and 2) pgbouncer (https://pgbouncer.github.io/). We now have a single service that pools all connections to the Google Cloud

[2017-08-16 19:56] mykolasmith commented on #88
You should try using an existing SQL connection pooling application. We previously had each of our microservices running a dedicated container for cloudsql-proxy. This resulted in a lot of extra overhead and extraneous connections to the database. We opted to instead run a single instance of cloudsql-proxy and pgbouncer (https://pgbouncer.github.io/), which proxied and pooled connections to clouds

[2017-08-16 22:22] paulwalker commented on #88
@mykolasmith Thanks for the tip! May I ask, do you have any golang clients that are using cloudsql-proxy natively?

[2017-08-17 03:50] badoet commented on #88
hi @Carrotman42 i wrote that comments quite some time ago.
just to clarify, i was connecting to the Cloud SQL not setting it up in our own instance.
i cant quite remember the details of the application setup at the time and why i derive to that conclusion, but i think there were many other possible cause to this. e.g. at that time i was also developing locally (in Singapore) and Cloud SQL was in U

[2017-08-17 15:55] wieger opened #115 "googleapi: Error 403: The client is not authorized to make this request., notAuthorized"
Hi,

I try to connect to my cloudsql instance using the Proxy Docker Image, but it fails on authorisation issue, and could use some help in debugging the issue.

All seems to be configured right when pod is deployed, when i look in the logs it states:
[code]
 but it keeps failing when I open a connection with the message

[code]

However if I use the cloud_sql_proxy from my local machine all works

[2017-08-18 08:40] #107 closed

[2017-08-18 16:48] DazWilkin opened #116 "Consistency between "Proxy Library" and "Companion Process""
Following along here:
https://cloud.google.com/sql/docs/mysql/connect-external-app#go

The "Companion Process" works well (using TCP sockets) *and* permits specifying the database name (!) when opening the connection to the instance:

[code]
[code]
It seems as though it should be straightforward to switch to using the Proxy library directly but the Dialer does not (appear to) permit spec'ing the d

[2017-08-18 17:42] DazWilkin commented on #116
Ah... using the Dialer and a `"use databaseName"' creates a subsequent issue if connections are replaced:

[code]
This tends to get through 2 inserts before creating a new connection and then:

[code]

Without boring anyone with details, I'm create a simplistic repro of this Spring sample in order to educate myself on the Go way and to help identify issues with the Spring sample:
https://spring.io

[2017-08-18 20:32] Carrotman42 commented on #116
Yeah, using the `USE database_name` command doesn't work well; unfortunately this is a known issue (at least to me) of the database/sql library. I would suggest using mysql.Cfg [0] function and manually modifying the DBName field [1] of the returned config.

[0] https://github.com/GoogleCloudPlatform/cloudsql-proxy/blob/8092e8660c0153f40b8632d0339e6a0f8c11c93d/proxy/dialers/mysql/hook.go#L69
[1] h

[2017-08-18 23:56] DazWilkin opened #117 "Unable to configure PostgreSQL dialer as a 'companion process'"
https://cloud.google.com/sql/docs/postgres/connect-external-app#go

Google's documentation incorrectly duplicates the MySQL configuration for the instructions on using PostgreSQL dialer as a 'companion process'.

When this issue is resolved, I'll file a bug against the Google documentation :-)

The PostgreSQL dialer works as a library referenced within code:

[code]

It's unclear to me how this sh

[2017-08-19 01:07] Carrotman42 commented on #117
Your dsn looks like the dsn for the MySQL driver used in Go examples. Every
driver has different dsn formats. What postgres driver are you using?
Please check the documentation for that driver for the dsn format.

I'd appreciate any updates of documentation that is not correct.

[2017-08-19 01:32] DazWilkin commented on #117
I'm trying to connect to a Cloud SQL PostreSQL instance using the Google-provided Cloud SQL Proxy.

Google's documentation for PostgreSQL incorrectly duplicates the MySQL instructions:
https://cloud.google.com/sql/docs/postgres/connect-external-app#go

The first dsn I provided is for when the cloudsql-proxy is used as a library in Go code. This works.

The second dsn I provided is the only example

[2017-08-19 16:06] DazWilkin commented on #117
Sorry! I got it (finally). This is not proxy-specific, I just need to craft the dsn to use localhost and the examples I have look generic but must be MySQL-specific. Apologies!

[2017-08-19 18:23] #117 closed

[2017-08-19 18:28] DazWilkin commented on #117
Solution: The dialer is not needed for companion use of the Cloud SQL Proxy.

Will have the documentation folks update Google's documentation to make this use clearer:

[code]

And then:

UNIX sockets -- NB host value is prefixed with "/" to indicate UNIX socket:
[code]
TCP sockets -- host defaults to `localhost` and port defaults to `5432` so not specified:
[code]

[2017-08-23 10:20] wayneashleyberry opened #119 "Readiness and liveness probes in Kubernetes"
I'm struggling to setup a health check for the proxy container on Kubernetes. Some documentation or guidance around this would be great. We're having to delete pods quite regularly due to an app not being able to connect.

Tried [defining a tcp liveness probe](https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-probes/#define-a-tcp-liveness-probe) which didn't qui

[2017-08-25 18:02] ssinhas opened #120 "Pulling cert automatically"
what i understand,  cloud proxy does pull database client cert from  cloud sql automatically.
But google cloud sql has limit of max 10 client certs at a time.
What will happen if we have more than 10 developers ?

Is there anyway we can pass cert as argument?

[2017-08-25 18:03] laixer commented on #120
This question answered on Slack. The limit does not apply to proxy certs.

[2017-08-25 18:03] #120 closed

[2017-08-25 23:04] AthenaShi commented on #115
Hi,

Would you please send the name of your cloud sql instance to
cloud-sql@google.com (with a link to this page) so I may be able to help out
looking at some internal data.

Also, please paste the full command line you run both with and without Proxy Docker Image, and the logs when connection.

[2017-08-30 17:04] Carrotman42 commented on #115
Did you follow the URL in the error log to enable the API?

[2017-08-30 21:30] DinaWork commented on #115
@Carrotman42
actually I havn't.. .
I enabled it, recreated credentials - just incase..
now I get the following error:

[code]

[2017-08-31 07:35] tlbdk commented on #86
A least for our use case a gracefull shutdown(stop listning for incoming connections and finish processing the current ones) on SIGTERM would solve the problem as we use connection pooling in our application.

[2017-09-07 04:13] tonglil commented on #106
With new stackdriver logging limits + exclusion filters coming into play, proper structured logging is more important than ever.

If these debug messages could be emitted, but level=INFO excluded in stackdriver, it makes debugging easier because if need be, one can simply disable the exclusion filter temporarily, instead of redeploying for a config change.

[2017-09-07 14:47] grahamfw commented on #115
I'm seeing the same issue with my instances. What should be the next steps?

[2017-09-08 01:06] AthenaShi commented on #115
Actually I found in some of the cases there's an additional square bracket around the instance name in the pod command ran.  Please remove the bracket and try again.  Especially for the ones work with cloud_sql_proxy but not from the container.

If yours is not the case, then:

Please send an email with following information to cloud-sql@google.com so I may be able to help out looking at some inte

[2017-09-08 02:11] hrdymchl commented on #115
Yup, me too - same error but getting it from local machine

[2017-09-08 09:13] wieger commented on #115
It was indeed the extra square brackets in my case, thanks alot for pointing that one out!

[2017-09-08 09:13] #115 closed

[2017-09-08 23:47] AthenaShi commented on #119
So far we don't expose such thing unfortunately...

As a work around you can check by run cmd:
netcat -U /cloudsql/$INSTANCE_CONNECTION_STRING

As for the "an app not being able to connect" issue, if you think it might due to cloud sql proxy, please send an email with following information to cloud-sql@google.com so I may be able to help out looking at some internal data.

- with a link to this pa

[2017-09-27 07:09] imiskolee commented on #58
aslo has this issue. why process is running,but no port listen ?

[2017-10-07 21:54] rosskevin commented on #119
When trying to [deploy as recommended in kubernetes](https://github.com/GoogleCloudPlatform/cloudsql-proxy/blob/master/Kubernetes.md) with spinnaker, it seems the lack of the probe causes the `highlander` strategy to tear down the node.

I'll try the `netcat`, but it would be convenient if there was a typical set of endpoints without having the INSTANCE_CONNECTION_STRING in more than one place.

[2017-10-07 22:56] rosskevin opened #122 "Crashing node on kubernetes upon first connection"
I had `cloud_sql_proxy` prototyped as a sidecar, then as I was moving to spinnaker noticed that jobs cannot be configured with multiple containers.

I then bumped into [](https://github.com/GoogleCloudPlatform/cloudsql-proxy/blob/master/Kubernetes.md) in this repo and decided to break it out on it's own.  I brought my prototype config, added it to a spinnaker pipeline and it produced the following

[2017-10-09 10:46] DocX commented on #86
Simplest solution to stop TERM killing the proxy in Kubernetes is to setup container with:
[code]

^ This will cause the `/bin/sh` is root process which in turns receives the signal from Kube. According to shell behaviour, it ignores any signals when there is process running inside the shell (ie it won't forward it).

But agree that ideal solution would be implement this inside the proxy:
- Receiv

[2017-10-09 13:55] rosskevin commented on #122
Here is a more refined test case taken from the doc referenced above using a liveness probe (#119) that self crashes:

[code]

## deployment

[code]
## service
[code]

[2017-10-09 17:13] rosskevin commented on #122
I've gone back to my sidecar pattern and finally have a log of the problems I have with my environment:

[code]

I will address these now that I have information.

So, for this issue, the problem I have is that the container should not crash silently providing information.

[2017-10-09 17:51] rosskevin commented on #122
Thanks @Carrotman42 - should the exit code be in the cluster logs in GKE?  I'm a novice here, so the stackdriver logs seem a bit noise to me at this point with spinnaker running on the cluster as well.

[2017-10-09 18:32] rosskevin commented on #119
`netcat` is not available on the stock image, so this:

[code]

fails with

[code]

[2017-10-09 19:00] Carrotman42 commented on #122
Sorry, I have no idea: I'm not familiar with that setup.

[2017-10-09 19:49] rosskevin commented on #119
I misunderstood netcat's location and options on the image.

I attempted the following:

[code]

and it failed with:

[code]

Has anyone else gotten `nc` to work as a probe?

[2017-10-09 22:32] rosskevin opened #124 "Cannot connect to mysql - Kubernetes cluster"
I'm following this doc: https://github.com/GoogleCloudPlatform/cloudsql-proxy/blob/master/Kubernetes.md

I've also tried several other example variations, but I'm back here after two full days of fighting, for the love of god someone point out my error.

I have definitively ruled out credentials problems (and for reassurance the service account has the `Editor` role).  Simultaneously, I have:
- my

[2017-10-10 00:50] danqing opened #125 "Latest is 1.09?"
Hello,

Latest docker image is pinned at 1.09. Are 1.10/1.11 not stable, or is it that we shouldn't use the latest tag?

https://console.cloud.google.com/gcr/images/cloudsql-docker/GLOBAL/gce-proxy?gcrImageListquery=%255B%255D&gcrImageListpage=%257B%2522t%2522%253A%2522%2522%252C%2522i%2522%253A0%257D&gcrImageListsize=50&gcrImageListsort=%255B%257B%2522p%2522%253A%2522uploaded%2522%252C%2522s%2522

[2017-10-10 01:34] Carrotman42 commented on #125
You shouldn't use the "latest" tag, at least not in production. (You should
instead upgrade the version explicitly with your own rollout procedure to
ensure any potential bugs in the new version don't break you.) But people
use "latest" in production anyway. To prevent us from breaking people's
production when a new version is released, we only update "latest"
periodically when we are sure there a

[2017-10-10 03:23] danqing opened #126 "Memory leak when connecting from proxy"
I'm not sure if this is a proxy problem but it's likely. It doesn't seem to affect my servers (for the most part), but my Cloud SQL log is flooded by these, nonstop. This has been the case for quite a while (months).

There are [this discussion](https://groups.google.com/forum/#!topic/google-cloud-sql-discuss/eICHmxxKRZQ), [this one too](https://groups.google.com/forum/#!topic/google-cloud-sql-dis

[2017-10-10 03:26] danqing commented on #126
Btw, this spans versions 1.09, 1.10 and 1.11.

[2017-10-10 15:18] rosskevin commented on #124
I finally found my error.

Wrong:
`-instances=foo:us-central1:db=tcp:3306`

Right:
`-instances=foo:us-central1:db=tcp:0.0.0.0:3306`

[2017-10-10 15:18] #124 closed

[2017-10-10 19:51] #125 closed

[2017-10-10 19:51] danqing commented on #125
Fair enough.

[2017-10-11 00:57] AthenaShi commented on #126
Based on the 3 links you pasted and google search, "Got an error reading communication packets" this is likely a MySQL error when there's a network issue or too many connections were made. Detail: https://dev.mysql.com/doc/refman/5.7/en/communication-errors.html

And further if this won't solve.  In the newest version of Cloud SQL proxy v1.11, a new flag "max_connections" was introduced to limit t

[2017-10-11 01:06] danqing commented on #126
It is MySQL error happening between proxy and cloud SQL. I've also done a lot of Google search on this topic. If the solution is to decrease `max_connections`, that likely means that proxy is currently flooding the database and should send fewer requests.

While I'm not sure if this is a proxy or cloud SQL issue, it surely is a problem with GCP. It'd be great if someone at GCP can take a look. :)

[2017-10-14 16:14] idoshamun commented on #4
@emilv I had to change the `WorkingDirectory` to `/usr/local/bin/` to make it work

[2017-10-17 18:25] thrnio opened #128 "Feature Request: Perform a graceful shutdown upon SIGTERM"
The method documented in [Connecting from Google Container Engine](https://cloud.google.com/sql/docs/mysql/connect-container-engine) for using Cloud SQL Proxy from GKE is to run the proxy as a sidecar container in your pod alongside your application. For normal use, this works well, but as [this StackOverflow question describes](https://stackoverflow.com/questions/41679364/kubernetes-stop-cloudsql

[2017-10-18 10:57] dcortesf commented on #115
I have exactly the same issue.

[2017-10-20 19:38] AthenaShi commented on #126
Let me clarify a little bit, the error itself is from MySQL, which means there's a network issue or too many connections were made.

The details and solution is: https://dev.mysql.com/doc/refman/5.7/en/communication-errors.html
As it indicated here it might due to "The client program did not call mysql_close() before exiting", or "max_allowed_packet variable is too small", etc.

If you tried all t

[2017-10-20 20:16] danqing commented on #126
So there's something going on with cloud sql - it may be the proxy, or it may be the database itself. I don't know what part exactly is having issue, and hence I'm hoping someone in the cloud sql team can help identify.

All I know is that:

1. This is not an isolated issue as many others seem to have the same problem on GCP.
2. This doesn't happen on AWS, at least not for me.

I understand that i

[2017-10-20 22:28] AthenaShi commented on #126
I see, I do see your update on one of our public buganizer problem.  That one is for connection from GAE, I don't believe its your case since you connect directly from the proxy client.

If you don't mind, would you please send an email with following information to cloud-sql@google.com so I may be able to help out looking at some internal data.

* with a link to this page
* the full name of your

[2017-10-23 13:32] curioustortoise commented on #37
I am also observing the client fails on CreateEphemeral.  I'm new to this platform; just trying to set up the bookshelf tutorial described in cloud.google.com/sdk/docs.

I want to set up a Service Account that the SQL proxy may use to connect to the GC SQL Instance.   However the Role 'Cloud SQL Client' is not on the drop down list of possible roles.
I appreciate some of this is beta code, so has

[2017-10-23 15:36] laixer commented on #37
If you can't see the role in the list, can you double check that the 'SQL' service is enabled in your project by visiting the following URL?
https://console.cloud.google.com/apis/api/sql-component.googleapis.com/overview
It should be enabled by default.

[2017-10-23 18:15] AthenaShi commented on #119
Would you please try:

[code]

The command I pasted before (netcat -U /cloudsql/$INSTANCE_CONNECTION_STRING) was for unix domain socket.

[2017-10-25 13:30] rosskevin commented on #119
Thanks @AthenaShi, that does report success.

[2017-10-26 22:11] tsloughter commented on #88
@mykolasmith curious, since I'm looking to switch to this setup now, do you use the cloudsql-proxy simply as a sidecar to the pgbouncer container in a single pod?

[2017-11-03 17:42] AthenaShi commented on #126
Just an update, I haven't got any email about this.  In case I missed it, would you mind update in the email and suggest "AthenaShi" to take a look?

[2017-11-03 18:38] AthenaShi commented on #128
This can be done by just SIGTERM the proxy on shutdown.

For more information, (well not directly related):
https://github.com/GoogleCloudPlatform/cloudsql-proxy/issues/86

[2017-11-07 00:15] danqing commented on #126
Thanks Athena! Sent the email.

[2017-11-07 01:11] thrnio commented on #128
Sending a SIGTERM won't work because it causes Cloud SQL Proxy to exit 2, not exit 0, which Kubernetes will treat as a Job failure, not a success.

[2017-11-07 09:58] Matbj commented on #126
I sent an email just now

[2017-11-09 21:33] wesnolte opened #129 "Connection to CloudSQL works in all scenarios except via socket in Docker container"
Hopefully I'm doing something wrong, I've read all documentation and scoured forums but can't seem to get to the bottom of an issue I'm experiencing. I'm using OSX btw.

Things that are working:

1. Connect to cloud SQL from local OS using proxy via either TCP or Socket
2. Connect to cloud SQL from local OS using proxy in container via TCP
3. Connect to cloud SQL from GKE using proxy in the same p

[2017-11-10 21:55] AthenaShi commented on #129
Please follow this instruction:
https://cloud.google.com/sql/docs/mysql/connect-docker ("9. Start the proxy.")
for the command to connection in container via unix sockets.  Particularly:
[code]

[2017-11-14 18:38] davidn opened #130 "Update download_proxy.sh to download correct architecture for the target system."
download_proxy.sh is hard-coded to fetch an amd64 binary. If users attempt to use this script from other architectures, they will get a binary they cannot use. This happened for [this ARM user](https://stackoverflow.com/q/46916674).

Can we add 32bit x86 and ARM builds, and have download_proxy.sh fetch the correct one for the local system?

[2017-11-17 22:25] AthenaShi commented on #126
We've confirmed that the root cause of the "error" is a MySQL memory leak on our side with connections from proxy (which includes proxy client and GAE), the fix is checked in.

However we're in prod freeze now, and the rollout won't be scheduled until Nov 28 with ETA by end of this year.

Same time there're some methods to mitigate the issue:
1. Try connect through other way (ip, etc), the leak is

[2017-11-17 23:12] danqing commented on #126
Great to know that the root cause has been identified. Thanks Athena!

[2017-11-20 09:17] bcoghe opened #131 "cloud proxy having lag spikes on random moments"
Dear,

I am experiencing lag spikes on my GKE cluster that runs a flask restplus api. I think the problem is in the cloud sql proxy that calls the database. It seems to happen on random moments and is indendent on the amount of traffic. It's the first time I am using this combination so i'm not sure if it is really cloud sql but i found similar issues online. Checking the logs gives these kinds of

[2017-11-23 01:06] J-Rojas commented on #102
Supporting full encryption on both ends of the proxy would ensure compliance with architectures the require 'encryption in transit' such as HIPAA. Currently the only way to fulfill this requirement is by guaranteeing the proxy connection is never between two nodes, and the only way to guarantee that on GKE is to 'sidecar' your proxy with your application into one pod. Pods are the only workload th

[2017-11-23 01:49] Carrotman42 commented on #102
Is it actually that inefficient to have multiple copies of the Proxy, one
per pod? Can someone show that this is actually a problem with specific
benchmark/production data?

[2017-11-29 18:20] EamonKeane commented on #128
@thrnio having the same issue, did you find a workaround for this?

[2017-11-29 18:32] EamonKeane commented on #128
possible solution here? https://stackoverflow.com/questions/41679364/kubernetes-stop-cloudsql-proxy-sidecar-container-in-multi-container-pod-job

One possible solution would be a separate cloudsql-proxy deployment with a matching service. You would then only need your migration container inside the job that connects to your proxy service.

This comes with some downsides:

higher network latency, n

[2017-11-29 22:49] thrnio commented on #128
@EamonKeane not really, right now I'm using a script that that polls for the individual container statuses and checks for when the other container succeeds or fails then just deletes the Job, which sort of works well enough for most of my use cases, but not totally and it's far from ideal.

[2017-11-29 23:57] EamonKeane commented on #128
yea not great. What is google up to here, because egress IP is not controllable (I understand), sql-proxy seems to be the blessed way to connect, so might be expected to be robust to all GKE use cases. The other sigterm issue mentioned above (https://github.com/GoogleCloudPlatform/cloudsql-proxy/issues/86) has been open for months. Databases tend to be an important part of an application....

[2017-12-02 17:40] patrykmikula commented on #94
Any progress on this issue ?

[2017-12-04 10:45] kszarlej commented on #131
@bcoghe that might be related to https://github.com/GoogleCloudPlatform/cloudsql-proxy/issues/94

[2017-12-05 18:28] sursani opened #132 "GKE unable to connect to Cloud SQL using SQL Proxy via sidecar pod pattern"
Hello,
I am using this guide to connect GKE to Cloud SQL (postgres) using the sidecar pod pattern:
https://cloud.google.com/sql/docs/postgres/connect-kubernetes-engine

I have not had any success thus far. Whenever my app does try to connect from GKE to Cloud SQL, I see this in the Cloud SQL logs:

My application (.NET Core 2.0 webapi) running inside a GKE pod shows the following exception in its

[2017-12-07 11:58] wileeam commented on #126
@AthenaShi Only MySQL? I just noticed the same behavior with PostgreSQL (it is what we use instead of MySQL for Cloud SQL)

[2017-12-08 04:10] arkachat commented on #124
@rosskevin did you bind the IP to 0.0.0.0?

[2017-12-08 04:12] rosskevin commented on #124
Yes, as shown in my comment right above yours.

[2017-12-08 16:06] ahmetb commented on #124
@rosskevin sorry to hear you had this problem. I think we don't recommend creating a Service on top of cloudsql-proxy as enforcing security is harder.

Our examples such as https://github.com/GoogleCloudPlatform/kubernetes-engine-samples/blob/master/cloudsql/mysql_wordpress_deployment.yaml suggest deploying cloudsql-proxy as a **sidecar container** that you can call on localhost. This way the prox

[2017-12-08 16:37] rosskevin commented on #124
@ahmetb perhaps the doc in this very repository that I linked to in the OP should be updated to warn away from service use, as that is exactly what is prescribed.

BTW had to use a service to get around a (former) Spinnaker limitation of one container per job.

[2017-12-08 17:20] ahmetb commented on #124
Yes we're getting the doc linked in the original issue removed in favor of what I linked above, and the https://cloud.google.com/sql/docs/mysql/connect-kubernetes-engine document.

Thanks and sorry for the inconvenience.

[2017-12-09 09:49] bogdan-dumitru commented on #126
Hello there @AthenaShi do you have an update on this situation.
I've seen a massive increase in these errors starting Dec 2nd. Currently the mysql server is dropping around 2-3 connections per minute:
[code]

And this has coincided with an increase in ``Mysql server has gone away`` issues in the GAE services. Active connections to the DB are in the 15-60 range usually but it doesn't seem to affect

[2017-12-13 21:10] bcspragu opened #134 "Bug: Proxy fails to create sockets if user is missing access to any instance"
For example, if you have access to instance `a:a:a` (via Cloud SQL Client role in IAM, for example) but not instance `b:b:b`, and you run the following:

[code]

You'll get a `403 notAuthorized` error, and neither socket will be available.

[2017-12-15 21:59] AthenaShi commented on #126
@wileeam Yes, only MySQL, PostgreSQL doesn't have this issue.

[2017-12-15 22:01] AthenaShi commented on #126
Sorry, got a little bit busy recently...

The fix is still under rollout, and consider it's end of the year and we will have release freeze soon again, so we would most like to expect this rollout be interrupted and won't totally finish until next year.

[2017-12-15 22:35] danqing commented on #126
@AthenaShi does it mean it's live in some regions but not others?

[2017-12-18 20:59] novacp opened #135 "Invalid json file (credentials.json)"
I've been following your instructions, but keep getting the following error:

"2017/12/18 20:56:29 invalid json file "/secrets/cloudsql/credentials.json": invalid character '\n' in string literal"
-> created the secret with JSON format as you describe.

Is this a common issue? Couldn't find anything about it...

~ moved to: https://github.com/GoogleCloudPlatform/kubernetes-engine-samples/issues/40

[2017-12-19 22:13] #135 closed

[2017-12-21 01:35] AthenaShi commented on #94
I've created an internal ticket and it will be prioritized.

[2017-12-21 01:37] AthenaShi commented on #131
This might be caused by #94, have to say sorry that I'm just aware of this problem.  I've created an internal ticket and it will be prioritized.

[2017-12-21 18:45] #119 closed

[2017-12-21 18:46] AthenaShi commented on #119
Seems like there's no problem left for this thread.  Close it.

[2017-12-21 18:48] AthenaShi commented on #129
Closing due to lack of updates.  Feel free to reopen this if there's still an issue.

[2017-12-21 18:48] #129 closed

[2017-12-21 19:13] AthenaShi commented on #126
@danqing kind of yes, the rollout is ongoing but not done by region.  The best way  is to check individual instance if you want, I can check for you if you send your instance name to: cloud-sql@google.com.

[2017-12-21 21:02] adawolfs opened #136 "cannot fetch token: Post https://accounts.google.com/o/oauth2/token: dial tcp: lookup accounts.google.com"
Hello I'm configuring an Openshift Cluster but I had this error, I cant connect my instance to the cloudsql database, the same configuration is used for GKE and its working, and if mount the instance over minishift it worked, can you please help me to know what is happening here?

  | 2017/12/21 20:44:45 Listening on 127.0.0.1:3306 for myinstance:europe-west1:cloudsql-dev-1
  | 2017/12/21 20:44:45

[2017-12-22 01:53] AthenaShi commented on #136
This means the DNS-server can't resolve "accounts.google.com". (Port 53 is the DNS.)  Normally the fix would be check your local DNS-server or replace it for a public server, example, 8.8.8.8 or 8.8.4.4, etc.

I'm not familiar with Openshift and how to fix this. I found this link: https://docs.openshift.org/latest/install_config/install/prerequisites.html (search for "/etc/resolv.conf") and hope i

[2017-12-22 02:28] AthenaShi commented on #128
Thanks for the explanations of the use case here, I've created an internal enhancement ticket for this and it will be prioritized.

The new feature would be:
1. upon receiving SIGTERM (or some exit signal), Cloud SQL proxy would stop accepting new connections.
2. Cloud SQL proxy would exit (return 0) if no active connections.
3. After 30s (by default), Cloud SQL proxy would close all active connec

[2017-12-22 02:32] AthenaShi commented on #128
And the reason why #86 is still open is b/c it doesn't want Cloud SQL proxy to continue accept new connection after SIGTERM.

[2017-12-22 02:33] AthenaShi commented on #86
#128

[2017-12-22 02:35] AthenaShi commented on #86
I'll close this thread and this will be resolved together with #128.

[2017-12-22 13:40] adawolfs commented on #136
Thanks for your reply! I'll test the networking...

[2017-12-25 09:57] bborysenko commented on #129
I have encountered with the same  issue. But it's more likely linked to https://github.com/docker/for-mac/issues/483.

Inside docker container connection through socket is working:

[code]

[2017-12-29 23:30] arschles opened #137 "Feature Request: Add health checks to proxy container"
I am starting up the cloudsql proxy as a sidecar to my app, and I notice that my app fails non-deterministically. After some trial and error, it appears that the proxy may take some time to start listening on its port(s). I believe that a Kubernetes healthcheck would solve this issue. Does the proxy support healthchecks?

[2018-01-03 20:21] c3s4r commented on #126
Isn't this rolled out for all regions yet? I'm still having this issue 😕  Is there a timeline for it to be available?

[2018-01-05 00:26] Carrotman42 commented on #134
Did you mean to use a '.' between the two names? I'm just double-checking to make sure you didn't accidentally use that instead of a comma between the names.

[2018-01-05 01:45] bcspragu commented on #134
Nope, definitely intended to use a comma. The context:

Our team had been successfully using a script containing a command similar to the one I posted above. When I changed permissions on our project (and the script stayed unchanged), we started seeing the above behavior.

[2018-01-05 18:51] AthenaShi commented on #137
Please check this for healthcheck using Kubernetes:

https://github.com/GoogleCloudPlatform/cloudsql-proxy/issues/119

[2018-01-05 18:57] arschles commented on #137
Hi @AthenaShi - thanks for the reply and reference. Would you be open to a PR to add an HTTP endpoint that adds an endpoint that can be used as a health check?

[2018-01-05 19:01] AthenaShi commented on #137
Ya, sure!

[2018-01-05 19:30] bbhoss commented on #132
I'm seeing this as well from Python. I believe it's related to the SSL certificates instructions being wrong, or Google changing something on the `cos` image.  I am seeing many lines of this in the logs:
[code]

[2018-01-05 19:37] bbhoss commented on #132
I figured this out, it looks like the guide tells you to mount /etc/ssl from the host into /etc/ssl/certs, which is wrong, as certs is already in /etc/ssl

[2018-01-05 21:37] AthenaShi commented on #134
I tried it myself and it works for me, here's what I did:

1. I created project 1 and project 2
2. grant myself (my email address) Cloud SQL Client role for project 1
3. change myself to project viewer role for project 2 so that I do not have access to any Cloud SQL instance in project 2
4. I ran cmd:

[code]

5. connect via mysql client:

[code]
succeed!
while

[code]
failed with

[code]

Which i

[2018-01-05 22:33] ahmetb commented on #132
Thanks for reporting. Unfortunately many things could go wrong in Cloud SQL setup with GKE, and .NET Core is probably adding a bit more to that complexity. I'll recommend the following troubleshoot steps:

Have you been able to run the sample mysql+wordpress example at https://cloud.google.com/sql/docs/mysql/connect-kubernetes-engine ?

If you can get it to work, from there you can perhaps change

[2018-01-05 22:35] ahmetb commented on #137
We might incorporate this in the official sample manifest.

In the meanwhile can you give this livenessProbe with exec a try: https://github.com/GoogleCloudPlatform/cloudsql-proxy/issues/119#issuecomment-338749457 and see if it fixes your intermittent issues?

[2018-01-06 01:13] AthenaShi commented on #134
Oh, ok, I can reproduce this error by using an identity that doesn't have "get" privilege for not all of the instances.

Thanks @bcspragu for reporting this, I'll work on a fix.

[2018-01-06 21:35] bbzg opened #138 "Cloud SQL Proxy logs show up as severity: ERROR in Stackdriver logging when using Kubernetes"
This configuration:

[code]

Leads to logs that have `severity: ERROR` in Stackdriver logging.

Something like this:

[code]

It is kind of disrupting to see a long stream of non-error logs when searching for actual errors.

Does anyone know a way to get proper log levels from cloud sql proxy docker image?

Thanks!

[2018-01-09 09:38] retnuh commented on #34
Hi there, after creating a new instance and restoring from a backup of a different instance, we encountered the same issue.  Doing a reset of the SSL configuration cleared the problem.

[2018-01-12 13:50] PhiloNL commented on #126
@AthenaShi any idea when the fix is deployed to europe-west3-c?

[2018-01-12 19:42] AthenaShi commented on #126
The rollout is done for all instances now.

If you still see problems please send your instance name to:cloud-sql@google.com so I can take a look from internal.

[2018-01-15 14:47] reno184 opened #140 "Raspbian cloudsql-proxy cannot execute binary file : format error"
Hi,

when I try ./cloud_sql_proxy -instances=<XXX>=tcp:3306  on my raspberry pi3 with raspbian, I get this error ?

./cloud_sql_proxy cannot execute binary file : format error

I try with download with 64and32 version and same problem

wget https://dl.google.com/cloudsql/cloud_sql_proxy.linux.386 -O cloud_sql_proxy
or
wget https://dl.google.com/cloudsql/cloud_sql_proxy.linux.amd64 -O cloud_sql_pro

[2018-01-15 18:51] Carrotman42 commented on #140
The raspberry pi uses a different CPU than your mac (arm vs x86). There's
no pre-compiled version for arm right now unfortunately but you should be
able to compile it yourself using the "go get" command on the README.

On Jan 15, 2018 6:47 AM, "reno184" <notifications@github.com> wrote:

[2018-01-16 13:00] reno184 commented on #140
ok many thanks !!!

[2018-01-16 16:24] del-flexe commented on #91
just encountered the same (hopefully-transient?) error trying to use cloudsql-proxy kubernetes pod sidecar to connect to a postgres DB hosted in google cloud SQL

[2018-01-16 17:31] Leejjon commented on #126
I have the same issue. Have sent a reply to that cloud-sql e-mail with my db instance and project etc.

[2018-01-16 18:51] edivaldodelgado opened #141 "'cloud_sql_proxy.exe' is not recognized as an internal command"
Hey Guys,

I've installed the 'cloud_sql_proxy.exe' using the .exe install method, not worked.

I tried the the "GO Method" - [cmd go install](https://github.com/GoogleCloudPlatform/cloudsql-proxy), not worked

Everytime I receive this message, in fact, once it worked using "GO Method", I was able to upload a sample to Google App Engine. Then I tried to do for a real project and got the message: '

[2018-01-19 11:40] lunemec commented on #128
@AthenaShi the command you posted:
[code]
is incorrect. There is no /bin/bash inside the container. You need to use `/bin/sh`:
[code]

[2018-01-19 13:25] norbert-yoimo opened #143 "How to use cloudsql proxy in a kubernetes cron job?"
I have a cron job that requires database access, and I noticed that as long as the cloudsql connection stays open, the pod never gets removed from the list of pods, it stays in the "completed" state (it has 1/2 in the READY column), and they keep piling up.

Is there a way to close the cloudsql connection eg. after 1 connection have been made, so that the pods could clear up?

[2018-01-22 11:54] Tedezed opened #144 "Cloudsql-Proxy in Kubernetes for cluster PostgreSQL"
Hi!

I need to configure the proxy to attack to Postgres cluster, this has read and read-write nodes. Would the proxy support this configuration? Or you should deploy a proxy that manages this, such as [crunchy-proxy](https://github.com/CrunchyData/crunchy-proxy)

Example diagrams:

**Cloudsql-Proxy managing read and read-write**

![Cloudsql-Proxy managing read and read-write](https://image.ibb.co

[2018-01-23 03:44] savraj commented on #126
@AthenaShi hit this issue today AND yesterday -- everything starts failing not sure how to resolve.  We currently have higher tier google support -- can you help us / look at our instances?

[2018-01-26 08:08] hews commented on #119
FYI I actually needed to run it slightly differently; that is I needed to run `nc` in [zero-I/O (scan) mode](https://www.commandlinux.com/man-page/man1/nc.1.html):

[code]

[2018-01-30 00:27] AthenaShi commented on #126
The issue @savraj reported is unrelated to this thread.

[2018-01-30 00:35] AthenaShi commented on #126
I'll mark this thread closed due to following reasons:
1. the fix for the initial problem was rolled out to all Cloud SQL instances for a month and we dont see this issue after rollout
2. more important, this error message "Aborted Connection (Got an error reading communication packets)" is a very general error message from MySQL that most of the cases are not directly related to Cloud SQL and is

[2018-01-30 00:37] AthenaShi commented on #126
Please re-open this again if you believe the memory leak issue still exist, otherwise please create a new one.

[2018-02-01 06:34] jsnick opened #146 "cloudsql-proxy container in initContainers"
Can I use cloudsql-proxy container in initContainers ?
(to be sure that an app container runs after cloudsql-proxy container is ready)

I tried to apply it.. but it does not work.

The state of the container is running, but ready status of `status.initContainers` is false.

[code]

and `kubectl describe pod`

[code]

and `kubectl get pod pod-name-~~~~~ --template '{{.status.initContainerStatuses}}

[2018-02-01 08:37] pdecat commented on #143
Hi, there's a kubernetes issue tracking the more general use case of *sidecar containers* for batch workloads: https://github.com/kubernetes/kubernetes/issues/25908

[2018-02-02 22:39] AthenaShi commented on #144
For graph one, do you need a LB that will automatic route to the master or the replica?

If yes, then current proxy doesn't support this, go for graph two.

If you just want one proxy to be able to setup the connection to both of the master and replica, and have the "Web Application" control which one to talk to, then graph one is supported.

[2018-02-02 23:22] #140 closed

[2018-02-03 20:54] savraj commented on #126
Thanks Lin, we're still seeing some issues (occasional operationalErrors)
so we'll see what we can do to get to the bottom of this. Thanks.

On Mon, Jan 29, 2018 at 7:37 PM, Lin Shi <notifications@github.com> wrote:

--
Savraj Singh
609.540.2204 • twitter/gmail: savraj

[2018-02-05 12:08] christophelassus commented on #126
Hi @AthenaShi, I see many of these errors with memory usage continuously increasing... am attaching screenshots and reopen. Sorry if I am wrong but it looks like this issue again.
![screenshot 2018-02-05 13 04 32](https://user-images.githubusercontent.com/3471346/35803848-99999c76-0a75-11e8-88a4-19046dbd7278.png)
![screenshot 2018-02-05 13 03 10](https://user-images.githubusercontent.com/3471346/3

[2018-02-07 10:21] Tedezed commented on #144
Hi,

The solution that I take in my case is, deploy pgpool for sql management and set as master node and slave two cloudsql-proxy pointing to different set of servers.

Pgpool managing read and read-write and use Cloudsql-Proxy to connect with Google SQL.

THX!

[2018-02-07 10:21] #144 closed

[2018-02-08 04:12] michaelmitchell commented on #92
We just experienced this same problem in production but of course just before I got to add GODEBUG it resolved its self. Outage was intermittent and lasted aprox 5 hours.

Cloud SQL Proxy: version 1.11; sha 61590edac4c769d295cc5f48140ebeff88ccc5bf built Fri Sep 29 22:26:22 UTC 2017

[2018-02-08 12:14] innocode-devops opened #147 "cloudsql-proxy keeps active connections to DB instance even after client disconnects"
Hello, we've noticed that the proxy sometimes keeps active connections to DB after the K8S payload requesting these connection died. Observed on PostgreSQL instances.

For example, we have deployment, which spawns 1 pod, application in this pod requests 10 connections. If we go to CloudSQL dashboard for this instance, we'll see that there are 10 new active connections now.

If we have autoscaling

[2018-02-13 08:48] prismec commented on #87
We are writing from a Java application, running in Kubernetes to CloudSQL. Both, the Kubernetes cluster and the CloudSQL instance are running in the same region (europe-west-1b). Our application is using the CloudSQL proxy which is running along with our POD.

Unfortunately, the write access (read not measured yet) is around 20 times slower than when I run it on my local machine, which has a compa

[2018-02-13 17:58] laixer commented on #87
Have you tried the native Java library?

https://github.com/GoogleCloudPlatform/cloud-sql-jdbc-socket-factory

[2018-02-14 07:59] prismec commented on #87
No, I did not try that out yet. I will give it a try and come back to - but it may take some time (~2-3 weeks).

[2018-02-15 11:45] pmothais commented on #42
Hi @syclone, did you find a way to solve this problem? I have exactly the same problem than you and I would like that to explain me how did you fix it please.

Thanks.

[2018-02-15 15:51] Carrotman42 commented on #42
As suggested in a comment above, did you try just using `-instances`? -fuse
is nice for development but not well tested for longevity.

[2018-02-15 16:13] syclone commented on #42
Nothing I tried at the time worked. I switched to just using the IP address
and called it a day. I haven't tried since then. Sorry.

On Thu, Feb 15, 2018 at 10:51 AM, Kevin Malachowski <
notifications@github.com> wrote:

[2018-02-15 16:15] pmothais commented on #42
Hi @Carrotman42. Thanks for your answer :)

I tried these two commands :
The first one => ./cloud_sql_proxy -dir=/cloudsql -instances=<INSTANCE_CONNECTION_NAME> &
The second one => ./cloud_sql_proxy -dir=/cloudsql -instances=<INSTANCE_CONNECTION_NAME> -credential_file=<PATH_TO_KEY_FILE> &

But I don't know what is exactly the credential_file.

I'm running on CentOS 7 in a compute engine from Googl

[2018-02-15 16:17] Carrotman42 commented on #42
Sorry to hear about your experience. If you ever try again and would like
some assistance, please don't hesitate to open up a new issue explaining
what you tried and what didn't work (along with example code along with any
errors you encountered).

[2018-02-15 16:19] Carrotman42 commented on #42
Whoops, in my previous message I was confused about who was responding!
Thanks for following up Syclone.

Philippe: have you looked through this documentation? It describes the
credential_file, as well as other options:
https://cloud.google.com/sql/docs/mysql/sql-proxy#authentication-options

On Feb 15, 2018 8:17 AM, "Kevin Malachowski" <notifications@github.com>
wrote:

Sorry to hear about your e

[2018-02-15 16:48] pmothais commented on #42
@Carrotman42, yes I already read this documentation. But I read is not necessary to use this file if I am connecting to Cloud SQL from a Compute Engine instance. It's the case for me, then the database instance and the compute engine instance are on the same project on Google Cloud Platform.

So for me it's good, I think the proxy is correctly setted up because I can connect me to the database by

[2018-02-15 16:57] Carrotman42 commented on #42
Would you mind opening up a new issue? It's tricky to keep track if we are
chatting on a different issue.

On Feb 15, 2018 8:49 AM, "Philippe Mothais" <notifications@github.com>
wrote:

[2018-02-15 18:38] Carrotman42 commented on #143
I don't think closing the Proxy client process after a single connection is a good idea in general - transient issues are bound to cause problems with a single TCP connection in the long run and your application should be configured to retry (and the driver will redial) as needed. If the Proxy exited after a single connection this retry strategy would not work.

While this may be OK in your specif

[2018-02-16 00:34] syclone commented on #42
@Carrotman42 The issue described by @pmothai sounds exactly same issue.

On Thu, Feb 15, 2018 at 11:57 AM, Kevin Malachowski <
notifications@github.com> wrote:

[2018-02-16 01:13] Carrotman42 commented on #42
Very sorry for the noise everyone, I agree that they sound similar and that
it might just be better off re-opened instead. Or, if this really is just
another instance of #7 then I'm not sure there's anything we can do for you
right now other than just using the -instances flag.

[2018-02-16 06:10] warent commented on #37
@chees That "11 step process" you posted on Apr 26, 2017 fixed it for me. Thank you so much. I lost like 4 hours on this, taking apart my fucking cluster and putting it back together again over and over.

[2018-02-17 01:26] boogie4eva commented on #87
@prismec pls did you find a solution ?. I'm having a similar issue and I'm quite confused. It connects but after some time it takes time to reconnect again .

[2018-02-20 22:52] AthenaShi commented on #126
Ya... unfortunately we found there're some other leaks still existing.  The OOM speed is slower but we could reproduce the leak.  Our developers are currently working on a fix, and there's currently no ETA for the fix now.  :(

https://github.com/GoogleCloudPlatform/cloudsql-proxy/issues/126#issuecomment-345382485 to mitigate the issue.

[2018-02-21 05:59] bogdan-dumitru commented on #126
@AthenaShi just wanted to add that a way to mitigate its effects on the application side (mysql server has gone away, etc) is to configure your connection with a really short pool recycle time/timeout. In my case that's sqlalchemy and the relevant config looks like:
[code]
This is not ideal as the application is constantly reconnecting to the mysql server but it gets the job done...

[2018-02-21 17:03] AgustinLado commented on #37
I've had issues connecting the proxy to CloudSQL. The Client permission turned out to not be enough, as was the Viewer permission. I ended up using Admin, Client, Editor and Viewer and it finally worked.
I didn't follow (and didn't see until now) the 11 step process outlined above, just deleted and re-added service accounts like a madman. Next time if I have an issue I'll try it and report back.

[2018-02-22 09:16] wildermuthn commented on #138
https://github.com/GoogleCloudPlatform/cloudsql-proxy/issues/106

[2018-02-26 10:07] pdecat commented on #126
FYI, a Public Issue Tracker have been opened by my current Google Support contact to follow up the  release of the Cloud SQL memory leak fix https://issuetracker.google.com/issues/73649904

[2018-03-02 06:55] evmin opened #149 "Cleanup Logging Levels"
As a system administrator who runs SQL Proxy on GCE, I would like to be able to define the log level for the proxy explicitly - I am only interested in ERRORS and above.

I understand that at present there are only three options:

- Default   : Errors and Info
- Verbose : Debug
- Quiet : Nothing.

Would be great to have an "ERROR-only" option.

[2018-03-06 19:36] jordipolo87 opened #151 "Cloudsql proxy error: too many open files"
Hi guys,

I'm running the cloudsql-proxy in a compute engine instance and I'm encountering an issue when I have a lot of traffic on the server. The proxy logs an error message and stop working.

Here you have the logs:
2018/03/06 18:49:07 Error in accept for {"my-project:europe-west1:my-project-mysql-server" "unix" "/cloudsql/my-project:europe-west1:my-project-mysql-server"} on /cloudsql/my-projec

[2018-03-06 23:59] Carrotman42 commented on #151
That error is just a Linux error saying that your process has too many fds
open. There are tutorials online about how to increase the limit for a
process.

I'm curious - what's your current fd limit? I'm kind of surprised about
this error, I'd guess that it requires a lot of concurrent connections.

On Mar 6, 2018 11:36 AM, "jordipolo87" <notifications@github.com> wrote:

[2018-03-07 11:54] frankyaorenjie commented on #37
@chees god damn it you save me man

[2018-03-08 14:03] Kevin2iBi opened #152 "How to create schemas from another schemas on Cloud SQL??"

[2018-03-08 23:21] valentinoli commented on #48
This was very helpful. Thank you!

[2018-03-09 09:47] jordipolo87 commented on #151
Thank you for your responses guys.

We had already changed the default file descriptors limit inside /etc/security/limits.conf but it seems that the sqlproxy process still had the 1024 default file descriptors limit.

In order to solve the problem we are currently changing the sqlproxy process file descriptor limit with the prlimit function on the startup script:
pid=$(pidof cloud_sql_proxy)
prlim

[2018-03-09 09:48] #151 closed

[2018-03-22 20:44] sigxcpu76 commented on #147
We've lost a node in GKE and all the connections from lost pods are still alive from the cloud-sqlproxy point of view, therefore it keeps the server-side connections too. This quickly adds to the PostgreSQL instance limit.

[2018-03-22 23:46] Carrotman42 commented on #147
Sounds like a bug - when the client-side cloud SQL proxy notices the local
disconnect it /should/ disconnect from the server, which should notice that
disconnect and tear down that full connection.

[2018-03-22 23:50] sigxcpu76 commented on #147
I am pretty sure that cloud SQL proxy never notices the disconnects. If the client is abnormally terminated, there is no TCP RST sent to the proxy, so it never notices the client connection went down.
Also, the tcp keepalive mechanism from kernel doesn't seem to kick in.
I think the best approach would be to implement TCP socket keep-alive on client connections and close the ones that are dead.

[2018-03-23 14:21] SandyWalsh opened #153 "SQL syntax error when using proxy library, but works with external proxy - GCS postgres 9.6"
When I use the postgres builtin golang proxy I get an error attempting to prepare statements. Like

`INSERT INTO "snapshot" (uow_id,group_id,name,state,user_id,org_id,last_change,locked,lock_time,poll_at,last_message,data,created_at) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?) RETURNING uow_id`

[code]

`syntax error at or near "," at character 143"`
which is the  `(?,` part

... but this works

[2018-03-23 15:10] Carrotman42 commented on #153
Can you post a small, compilable, and self-contained code example of the
thing that isn't working? From the code you pasted, it's impossible for me
to tell if the problem is actually coming from the `sqlx` package (whatever
that is), the call to `Rebind` with mystery parameter `s`, etc, or
something in the Proxy stack.

Note: the Proxy does not have any understanding of the underlying database
pro

[2018-03-23 15:12] SandyWalsh commented on #153
Thanks @Carrotman42 ... fair point. Lemme try to pull something together for you.

[2018-03-23 17:20] SandyWalsh commented on #153
Ah ha ... figured it out.

sqlx.Rebind() converts ? to the appropriate placeholder of the db.

With the built-in proxy, it's cloudsqlpostgres and sqlx doesn't recognize that. So it keeps it as ? ... but postgres wants $1, $2, $3, etc.

Which explains why the external proxy works ... the driver is still "postgres"

Sorry for the false alarm.

[2018-03-23 17:20] #153 closed

[2018-03-25 18:51] gandhiy opened #154 "Cloudsql-proxy authentication problems"
I have a a django project that I am trying to use with my google cloud sql database, but I can't seem to connect the project to the database using the proxy.

I keep getting the error: `googleapi: Error 403: The client is not authorized to make this request., notAuthorized`

What's really weird is that the database is on my own account and it's not letting me connect.

Here's a list of the steps t

[2018-03-26 23:18] SandyWalsh opened #155 "in-process postgres proxy auth errors"
As others have reported, I'm getting the dreaded `The client is not authorized to make this request., notAuthorized` error.

I have a service account created and credential info available, but I don't know how to pass this into into the proxy when running it in-process (not sidecar). Is this even possible?

It seems I can only give username/password type stuff to the "cloudsqlpostgres" driver.

Ca

[2018-03-28 23:39] lundin commented on #126
Hi, got this error when i try to update lots of records (10k) in a for loop on cloud sql (second gen). How is people handling this kind of common queries/scenario ? I guess try to throttle the qps or something or pooling, is there any hack to make it work even if it would take longer time to run. For now it is a show stopper =/

Thanks!

[2018-03-29 01:48] gandhiy commented on #154
I am using IAM roles and I am an owner for the project. I also added the client role to see if that would change anything, but I keep getting the same error.

Would it matter that I'm on a mac or are there any specific options that I would need on for that?

[2018-03-29 06:27] olostan commented on #126
That error is observed fir months already. What can help little bit to increase time beetween failures:
1. Try to use persistent connections.
2. Increase instance size of CloudSQL instances - min 7.5gb RAM
3. Periodically restart CloudSQL proxy

[2018-03-29 07:34] vamsipkris commented on #87
@boogie4eva  Can you please share the YAML files, and the connection strings for our reference?

[2018-03-29 09:25] boogie4eva commented on #87
@vamsipkris will do once I get to my system

[2018-03-29 23:14] boogie4eva commented on #87
@vamsipkris  Sorry for the delay but this is what we did .
1) We created a service account with a Cloud sql  with cloud sql client permission
2) Download the .json file and use it to create a secret like this
`kubectl create secret generic cloudsql-instance-credentials \
    --from-file=credentials.json=[actual path to service account json file]`.
3) Mount the json file to your container volume
`

[2018-03-30 01:08] hfwang commented on #87
@prismec, I'm curious what the bottleneck is that is resulting in the limited write throughput, is the proxy client using significant CPU? The main difference I can think of between the Java socket factory vs the proxy is different SSL libraries and communication overhead from the socket...

[2018-03-30 01:09] hfwang commented on #152
Sorry, I'm going to close this issue. This project is specific to the cloud sql client proxy, and this looks like a general question. I would suggest asking on Stack Overflow.

[2018-03-30 01:09] #152 closed

[2018-03-30 01:11] hfwang commented on #141
Are you trying to access Cloud SQL via GAE? There is special support, see the docs:

https://cloud.google.com/sql/docs/mysql/connect-app-engine

[2018-03-30 01:11] #141 closed

[2018-03-30 01:11] hfwang commented on #136
I hope your problem was resolved. Closing for now, but re-open if you continue to have issues.

[2018-03-30 01:11] #136 closed

[2018-03-30 03:03] #37 closed

[2018-03-30 03:03] hfwang commented on #48
Thanks for figuring this out!

[2018-03-30 03:03] #48 closed

[2018-03-30 03:07] hfwang commented on #116
It looks like there's a known workaround, and not something that we can easily fix on the proxy side, so I'm closing this for now. Feel free to reopen if Carrotman42's suggestion doesn't work for you...

[2018-03-30 03:07] #116 closed

[2018-03-30 03:09] hfwang commented on #131
Closing since this looks to be a dupe.

[2018-03-30 03:09] #131 closed

[2018-03-30 03:10] #134 closed

[2018-03-30 09:14] boogie4eva commented on #87
@hfwang The proxy uses a side car pattern .The response time using the proxy can be quite high  . In my case sometimes queries times out and it takes time to reconnect again. I read this is because the proxy has to reauthenticate with cloud sql at intervals. This can be a pain in the neck  for your user experience .Anyways with socket factory we don't have these issues .

[2018-03-30 10:41] linux17kartik opened #156 "Connect app with the clousSQL Proxy Container, running in separate namespaces."
Hello,

Please go through the scenario :

Aim : I want to "my-app" running in namespace "my-app", communicate with the CloudSQL instance  through , cloud proxy container running in name space "db".

1. name space=db : in this  proxy container is running for Cloud SQL instance

logs form mysql Proxy container :

2018/03/30 08:56:28 using credential file for authentication; email=mysql-service-accou

[2018-03-30 14:18] Carrotman42 commented on #87
The socket factory does not proactively refresh the cert either iirc, so in
that respect there's no difference between the two solutions.

[2018-03-30 17:13] ye commented on #103
CloudSQL does published a doc denoting connection limits  based on different size of the GCP VMs: https://cloud.google.com/sql/docs/mysql/diagnose-issues though.

What metrics to look for other than CPU/Mem to look for to benchmark? If it's queries per second, does CloudSQL PostgreSQL dashboard provides that?

[2018-03-30 23:37] boogie4eva commented on #87
@Carrotman42  There is a huge difference from my personal observation . Like i stated earlier for me the proxy option causes delays in response times .

[2018-04-02 23:09] hfwang commented on #130
@davidn I know it's a bit late... but I think you linked to the wrong stackoverflow post?

[2018-04-02 23:12] davidn commented on #130
I think I meant https://stackoverflow.com/q/47267097.

[2018-04-03 15:36] oussamahammami commented on #4
Hi all,

Here is my working systemd service tested in `Centos 7` :

**`/usr/lib/systemd/system/cloud_sql_proxy.service`**

[code]

**/`usr/lib/systemd/system/cloud_sql_proxy.service.d/settings.conf`**

[code]

BR
/Ouss

[2018-04-03 16:25] gandhiy commented on #154
Thank you ever

[2018-04-03 16:25] #154 closed

[2018-04-04 14:27] KrustyHack commented on #156
Ay,

Which MYSQL hostname do you use in your app config ?

Like that : SERVICE_NAME.NAMESPACE ?

Example :

[code]

Where `sqlproxy-gcloud-sqlproxy` is my service name and `sqlproxy` is my namespace for my gcloud sqlproxy deployment.

And `test` is my application's namespace.

And I don't think that `Listening on 0.0.0.0.1:3306` is a correct address for listening. On my side I got `0.0.0.0:3306`:

[2018-04-05 14:25] prismec commented on #87
@hfwang Our problem was **not related to the proxy**.

The actual problem on our side was that the Java MySQL driver does not send batch requests to the server even if you use the JDBC batching support. Therefore the driver sent 1000s of single INSERT / UPDATE statements to the server instead of a single one.

We've solved the problem by using the MySQL's JDBC Driver's `rewriteBatchedStatements=tr

[2018-04-06 04:00] hfwang commented on #87
Thanks for that update!

[2018-04-06 12:05] jsnick commented on #146
@KrustyHack Thank you!!

I already solved this issue by idea 1.
But I didn't know that Idea 2 is possible because I didn't know [dns-pod-service](https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/) T^T.

I think Idea 2 is better. I'll apply it to my apps.

[2018-04-06 12:05] #146 closed

[2018-04-10 10:25] Tedezed commented on #144
https://issuetracker.google.com/issues/37271935

[2018-04-10 12:57] schweikert commented on #37
@hfwang : Does the closing of this issue mean that it should be fixed? We are still having this problem, and I could solve it by following the steps that @chees wrote above.

[2018-04-12 01:44] eCeleritas commented on #128
It is mentioned here that we can simply SIGTERM the proxy and then have the proxy handle the SIGTERM gracefully. How can we actually trigger the SIGTERM on the proxy from then container that is doing the actual work for the Job?

[2018-04-13 04:31] hfwang commented on #37
schweikert, I don't think there is a way for us to fix the issue on the Cloud SQL side... but I'm closing this issue since I'd like to make sure the open issues are cloudsql proxy issues, ideally issues that can be solved with a PR for the proxy.

[2018-04-13 08:52] innocode-devops commented on #147
@Carrotman42 is there any traction on this issue? The more the load, the more drastic the effect. Take a look at this screenshot:

![cloudsql](https://user-images.githubusercontent.com/28758610/38725619-947b951c-3f10-11e8-943f-18bbd6544271.png)

When this happens in the middle of the night, it may use all the active connections quota and SQL instance might go into failover mode, which will degrade

[2018-04-13 10:33] vamsipkris commented on #87
Thanks for the examples. I solved my problems using the same method
mentioned by you

On Fri 30 Mar, 2018, 4:44 AM Iyenemi, <notifications@github.com> wrote:

[2018-04-14 12:47] chrisjensen opened #157 "Improve error message when gcloud path missing"
I had some trouble running the proxy in Grunt scripts and on CircleCI, eventually figured out that it was because the `PATH` environment variable was missing or didn't contain the google-cloud-sdk/bin directory.

The error is pretty cryptic, it would be helpful if it were more explicit.

**To reproduce**
1. Verify cloud_sql_proxy is working:

`./cloud_sql_proxy -dir=/cloudsql`

You should get outp

[2018-04-18 11:40] benfdking opened #159 "Feature Request: Specifying external Credentials when using the proxy as a library (in Golang)"
When using this repository as a go-library, there is no way of specifying the credential file path. So struggling to integrate the library into a Golang Cobra CLI tool.

Just realised that the path can be set using `GOOGLE_APPLICATION_CREDENTIALS` but I still think it would be nice to have a way to do it in code. So one  can build a CLI tool

[2018-04-19 07:39] hfwang commented on #159
Yes, `GOOGLE_APPLICATION_CREDENTIALS` is the way to go. I would prefer to guide users of the library to use the default credential method so that consumers of the CLI tool don't need to in turn ask for a different way to override the default credential source.

How do you intend users of a CLI tool to specify the credential path when they use the CLI? Is there a reason the env variable is unsuitab

[2018-04-19 07:40] hfwang commented on #155
Cloud SQL proxy uses google.DefaultClient to setup its credentials

(see https://github.com/GoogleCloudPlatform/cloudsql-proxy/blob/b858be3de41449cd1ff3b30f1131f20eda15e825/proxy/proxy/dial.go#L92)

The logic for how DefaultClient gets its credentials is described in FindDefaultCredentials (https://godoc.org/golang.org/x/oauth2/google#FindDefaultCredentials)

TLDR: You can set the GOOGLE_APPLICATI

[2018-04-19 07:40] #155 closed

[2018-04-22 08:36] #86 closed

[2018-04-22 08:37] #132 closed

[2018-04-25 02:34] raybog commented on #124
@ahmetb - it could be good to have proposed solution, somewhere at https://cloud.google.com/sql/docs/mysql/connect-kubernetes-engine, describing case when some container has to connect to cloudsql within "initContainers". It looks like service on top of cloudsql-proxy is the only solution at the moment?

[2018-04-25 16:28] ohaiwalt commented on #102
Any movement here? Just ran into this while evaluating GKE for new workloads. It would be ideal to configure the cloudsql-proxy in the way that @munnerz described as a separate service to handle connections.

[2018-04-25 16:40] ahmetb commented on #124
@raybog For initContainers, that sounds like it, unless you are willing to run two processes in the initContainer (which is not a great practice). You can likely further use [network policies](https://cloud.google.com/kubernetes-engine/docs/tutorials/network-policy) to limit access to the database pod.

[2018-04-25 16:51] Carrotman42 commented on #149
Note that the default is verbose=true (https://github.com/GoogleCloudPlatform/cloudsql-proxy/blob/025b8c3/cmd/cloud_sql_proxy/cloud_sql_proxy.go#L52)

If you set debug=false, the only log messages which will be printed out is:
   1) A small number of lines during proxy startup
   2) Any error-level logs which occur

So, is it OK for you to get logs from both 1 and 2 above? If so, I think you just

[2018-04-25 16:55] Carrotman42 commented on #149
(or wait for PR #150 which might also help you)

[2018-04-25 16:58] Carrotman42 commented on #159
The library just enables a hook with the mysql library (https://github.com/GoogleCloudPlatform/cloudsql-proxy/blob/8092e86/proxy/dialers/mysql/hook.go#L30) which calls `proxy.Dial` (https://github.com/GoogleCloudPlatform/cloudsql-proxy/blob/e4765da/proxy/proxy/dial.go#L39) which explicitly tells you:

   If one of the Init functions hasn't been called yet, InitDefault is called.

So, just call `pr

[2018-04-27 11:47] alexxxPopa opened #162 "Connection refused to proxy"
Hello, i am pretty new to gcloud and kubernetes.That being said i am trying to connect to a postgresql db using cloudsql-proxy.
I've been using the steps found here :
https://cloud.google.com/sql/docs/postgres/connect-kubernetes-engine
When i am deploying to kubernetes, the cloudsql-proxy pod can't find the credential file used.
"2018/04/27 11:46:23 invalid json file "/secrets/cloudsql/credentials

[2018-05-03 13:20] ibawt opened #163 "An error in Accept() will cause the proxy to close the main socket and never reopen."
## Bug
If you get an error returned form ln.Accept() here:
https://github.com/GoogleCloudPlatform/cloudsql-proxy/blob/master/cmd/cloud_sql_proxy/proxy.go#L144

Something like ENOMEM returned from the syscall, the proxy will happily close the connection and never re-open it.

## Desired Behaviour
Either crash completley, so the system around it can restart it, or make the watch loop watch the stati

[2018-05-04 06:39] alexxxPopa commented on #162
I manage to figure it out, apparently the application was trying to access the proxy before it was ready to be accessed

[2018-05-04 23:39] jimenezjrs commented on #162
@alexxxPopa can you give more details on how you solved it?

If the issue is that the app is trying to access the proxy before it is ready. How do you tell it to access it when it is ready?

[2018-05-07 07:00] alexxxPopa commented on #162
@jimenezjrs  hi, well right now i just used a wait in my backend application, and a 30 sec wait did the job.There are scripts that are used for this exact use case, there is also initContainers in Kubernetes that should initialize containers in order but so far i haven't been able to use them in the deployment config file; i am pretty newbie at kubernetes.If I manage to solve this from scripts i'

[2018-05-15 23:29] isoubelet opened #164 "Problems trying to connect from within GCE — getsockopt: connection timed out"
Hi there,

I am having problems trying to connect to a MySQL second generation instance through the proxy from within GCE. The machine where the proxy docker container is running has a service account with role Cloud SQL Client. Ports are open for ingress and egress.
When I try to reach the MySQL with the following command:
 mysql -u something -p --host 127.0.0.1 --port 3306

 ... it simply hangs

[2018-05-16 00:50] Carrotman42 commented on #164
It's possible there's a firewall between you and the database. Can you
verify in your settings that your VM is allowed to access port 3307?

On Tue, May 15, 2018, 7:29 PM isoubelet <notifications@github.com> wrote:

[2018-05-16 11:10] isoubelet commented on #164
Hello, Kevin. Thanks for answering.
In fact, as I comment in the previous description, there're firewall rules that allow all traffic and apply for both ingress and egress. Those rules are associated to the GCE instance running the proxy.

However there's something that I am not understanding, why the proxy's trying to connect to the MySQL instance using the port 3307.

I see the following log mes

[2018-05-23 13:36] redradrat opened #167 "How to define multiple credential.json files?"
My use case:
I want to connect to multiple DBs running in different gcloud projects:
[code]
I'm only allowed to specify 1 credentials file (with -credential_file) and an array in the json throws a parsing error.
[code]
 Is there a possibility to define multiple service accounts or am I maybe thinking in the wrong direction? :)

[2018-05-23 15:37] kurtisvg commented on #167
@redradrat You should be able to share a service account between multiple projects. Once you have the service account set up in one project, switch to the second project and on the IAM page add the service account via it's email.

[2018-05-23 16:09] isoubelet commented on #164
Hi @kurtisvg ,
Actually I couldn't connect through the proxy. I have deployed a MySQL instance in GCE by my own. It's a bit curious why it is easier to connect to Cloud SQL from outside GCP's infra than from within.

Anyways, I am planning to migrate to Cloud SQL sooner or later but would need more time to test and properly configure it.

Thanks!

[2018-05-27 18:38] MrMage opened #168 "Cloud SQL proxy causes significant additional latency"
(This may be a duplicate and/or related to #87.)

I've been experimenting with using Cloud SQL Proxy for my PostgreSQL database vs. connecting directly via TCP. To illustrate, here's my Stackdriver Trace latency graph:

<img width="823" alt="screen shot 2018-05-27 at 20 22 32" src="https://user-images.githubusercontent.com/117466/40589369-4b386c46-61ec-11e8-8518-95e17e23130c.png">

Around 18:15 I

[2018-05-28 09:21] linux17kartik commented on #156
thank you for you response!!
issue has been resolved .
Through Google cloud resources..

[2018-05-30 06:47] ltearno commented on #92
Just so that if someone gets the same problem : don't forget to check your network policies. On my pod with the cloud_sql_proxy, I has a **network policy** installed, which was preventing the cloud proxy from authenticating (need to open the 443 port so it can do OAuth) and connecting to the database (on port 5432 in my context, a postgres database).
So I got those network errors on the proxy side

[2018-05-30 06:59] ramzimaalej commented on #126
The error is still happening. I deployed a spring boot app (that uses spring cloud gcp mysql) and I noticed that the server was able to connect, but then it connection gets aborted abruptly.

[2018-05-30 13:56] chainlink opened #169 "Add support for metrics / tracing"
Hi,
It would be great to be able to track metrics from the proxy (connections, disconnects, etc) in prometheus. If you're open to a PR on this, I can create one

[2018-05-30 17:50] aawilson opened #170 "Unix sockets documentation for postgres is incorrect (with psql 9.6)"
In the documentation at https://cloud.google.com/sql/docs/postgres/connect-compute-engine, it lists the psql command for testing the proxy setup over Unix sockets as `psql "sslmode=disable host=/cloudsql/<INSTANCE_CONNECTION_NAME> user=<USERNAME>"`. However, the psql host command, when it is file-like rather than URL-like, is assumed to be a _directory_ of sockets, not an actual socket. The result

[2018-05-30 22:16] mingfengwan commented on #141
I am having the same error, and the guide does not help :(

[2018-05-31 23:40] hfwang commented on #169
We intend to add metrics to the proxy, we were thinking of first starting with pushing metrics to stackdriver, but it makes sense to try to make it pluggable so others can write to different places.

[2018-06-02 16:28] MrMage commented on #168
Hi, I checked again and it seems like removing my Pods‘ Kubernetes CPU Limits has indeed resolve die the issue. So the issue was not due to connection pooling, but not due to Cloud SWL Proxy, either.

[2018-06-02 16:28] #168 closed

[2018-06-06 17:29] RobinUS2 commented on #126
We're seeing similar issues which are causing production issues, I wonder what the best approach is since this is quite critical to always work.

[2018-06-06 23:09] bogdan-dumitru commented on #126
According to https://issuetracker.google.com/issues/73649904 this is marked as fixed as of 14th of May 2018 for them so yeah...

[2018-06-08 03:05] Carrotman42 commented on #157
I think the error you suggest inplies there's a problem that must be solved via installing gcloud. I would prefer to not point people towards that as the only solution, and to possibly include both messages.

Note, of course, that specifying instances vvia --instances is the supported and suggested configuration for production. Relying on the cloud sdk to be installed for production purposes shoul

[2018-06-08 19:48] #157 closed

[2018-06-10 13:35] chrisjensen commented on #157
then perhaps appending the message with `(-dir and -projects options are not recommended in production environments)`?

The documentation [here](https://cloud.google.com/sql/docs/mysql/sql-proxy#instances-options) also lists `-projects` as not recommended for production - which would imply to someone trying to debug that using that flag in a production environment is not the issue since the error

[2018-06-10 13:50] Carrotman42 commented on #157
IMO we should try to avoid making the error messages too specific - how
could we know someone is running in production as opposed to development?
What are the chances of confusing a new user with that information, which
is clearly geared toward users who know a bit more jargon? And, in my
experience, the longer errors/log messages are, the less likely people are
to read them. It's a tricky ballanc

[2018-06-10 16:42] chrisjensen commented on #157
I was a new user at the time I received the existing error, and it was confusing.

I read the existing error and went "what's going on? those flags weren't needed in development, and -dir is supposed to be used in place of those. Is -dir not allowed in production? Well, it's not recommended, but then so is -projects, so surely the error isn't telling me to substitute one non-recommended flag for a

[2018-06-10 19:47] Carrotman42 commented on #157
If you are using Unix sockets as opposed to TCP on the local host, the -dir flag is required no matter what other flags you pass. Maybe I misunderstood your last post?

In any case, other than the use of global variables, I think the PR used to close this is good: it has both of what we want (I think), in that it tells you about flags you could use, and then also mentions than gcloud is missing.

[2018-06-12 00:09] nhooyr opened #177 "constructors for *mysql.Config should call mysql.NewConfig() first for appropriate defaults"
Otherwise, important defaults like `AllowNativePasswords` are not set and this causes issues connecting to mysql.

Without `AllowNativePasswords` set to true I could not connect directly to one of our cloud mysql databases.

[2018-06-12 00:11] nhooyr commented on #177
1. https://github.com/GoogleCloudPlatform/cloudsql-proxy/blob/c9c6b753c7f39940fbc03929c7730dd65745fcb8/proxy/dialers/mysql/hook.go#L69
2. https://github.com/GoogleCloudPlatform/cloudsql-proxy/blob/c9c6b753c7f39940fbc03929c7730dd65745fcb8/proxy/dialers/mysql/hook.go#L56
3. https://github.com/GoogleCloudPlatform/cloudsql-proxy/blob/c9c6b753c7f39940fbc03929c7730dd65745fcb8/proxy/dialers/mysql/hook.go

[2018-06-12 01:38] chrisjensen commented on #157
Ah, I missed that there was a patch for this. Yes that's a helpful message. Thanks

[2018-06-12 20:33] Carrotman42 commented on #177
Thanks for the issue; we have an open PR addressing this which just needs to be merged (https://github.com/GoogleCloudPlatform/cloudsql-proxy/pull/172).

[2018-06-13 07:16] hfwang commented on #177
Merged now, closing this issue.

[2018-06-13 07:16] #177 closed

[2018-06-13 15:29] iancboswell opened #180 "Error 1064 on valid SQL to create multiple tables"
I'm experiencing a strange issue where a SQL script to create multiple tables executes successfully on my local machine and on my Google Cloud SQL instance when running the proxy manually, but gives an Error 1064 on any `CREATE TABLE` statement following the first `CREATE TABLE` when I use this proxy library from within a Go program. I get this issue both with and without wrapping the proxy in `sq

[2018-06-13 15:40] Carrotman42 commented on #180
You can only execute one SQL statement at a time when using Go's database/sql package. Are you attempting to execute more than one in the same Exec (or equivalent) call?

[2018-06-13 15:43] iancboswell commented on #180
Aha, that's it! Thanks. Was trying to figure out if that was the issue but I guess I wasn't looking in the right places.

[2018-06-13 15:43] #180 closed

[2018-06-14 13:02] redradrat commented on #167
Thx.

[2018-06-14 13:02] #167 closed

[2018-06-15 19:27] tucnak opened #181 "Package cloudsql-proxy/proxy/certs doesn't build"
[code]

[code]

[2018-06-15 19:44] #181 closed

[2018-06-18 09:39] bpiselli commented on #128
@eCeleritas Thxs for the ideas : seems great : could you opensource your code ?

[2018-06-19 10:32] maxpaynestory commented on #126
I am seeing similar problem right now with cloud sqkl proxy, mysql is aborting connections and the error is

Got an error reading communication packets

[2018-06-20 16:59] willjhenry commented on #126
I appear to have this same error. I have a pretty simple API running on google app engine. When the api receives a request, it uses mysqldb (python) to open a connection, get some data, close the connection, and send the data back via the api.  The API is hit about every minute, and I am seeing an aborted connection every minute.  I double checked that I am closing the connection.  I read somethin

[2018-06-25 20:28] easwars commented on #163
Does this pull request not address your issue?
https://github.com/GoogleCloudPlatform/cloudsql-proxy/pull/148

[2018-06-25 20:29] easwars opened #182 "Refactor the tests directory"
Refactor the tests directory to make it possible to run these tests inside of Google.

[2018-06-26 23:55] robbyt opened #183 "cloudsql proxy daemon runs as root in official Docker image"
Using the Docker image gcr.io/cloudsql-docker/gce-proxy:1.11, the cloudproxy binary runs as root, and does not drop permissions once it's running. These permissions are probably excessive.

Additionally, the [google docs](https://cloud.google.com/sql/docs/mysql/connect-kubernetes-engine) do not suggest using a less privileged securityContext. It's possible to run the daemon with the following addi

[2018-06-27 06:32] josephtyler opened #184 "Occasional errors connecting to the cloudsql proxy"
In my cloudsql logs I frequently see errors like this:

[code]

And in my application logs I see this:

[code]

I'm not really sure how to go about troubleshooting this. This error doesn't happen consistently, seems to happen in bursts of 10-15 a few times a day.

[2018-06-27 09:11] olih10200 opened #185 "proxy works, but many strange error lines in log"
Jun 27 08:59:30 *_my_hostname_* cloud_sql_proxy: 2018/06/27 08:59:30 Writing data to local connection on 127.0.0.1:3306 had error: write tcp 127.0.0.1:3306->127.0.0.1:40756: write: broken pipe

^^^ these come per second

dosen't use "credentials", the command, which starts is:
<code>#!/bin/bash

/usr/local/bin/cloud_sql_proxy \
    -instances=_project_:_region_:_instance_=tcp:0.0.0.0:3306 \
    2>

[2018-06-28 16:46] mwmanley commented on #147
+1 to this as we have been experiencing the same issues on open Postgres proxy connections.  Since Google does not expose a method for increasing connection pool sizes within CloudSQL, which is an annoying deficiency, it would be nice if this issue was fixed sooner than later.

[2018-07-01 09:50] liorfein opened #187 "Unable to start proxy in Windows"
I am unable to start proxy in windows

I opened Command prompt as administrator ran command and received the following error. What am I doing wrong?

C:\Users\XXX\Downloads>cloud_sql_proxy.exe -instances=api-project-999999999:us-central1:myinstance=tcp:3306
2018/07/01 12:38:32 listen tcp 127.0.0.1:3306: bind: An attempt was made to access a socket in a way forbidden by its access permissions.

[2018-07-02 06:02] hfwang commented on #187
From similar issues I've seen on stack overflow (https://stackoverflow.com/questions/15619921/an-attempt-was-made-to-access-a-socket-in-a-way-forbidden-by-its-access-permissi) likely causes are that the port is already in use or a misconfigured windows firewall.

[2018-07-02 06:04] #162 closed

[2018-07-02 07:02] liorfein commented on #187
Thank you htwang
Yes, I had a local MYSQL running on the same port.

[2018-07-02 07:02] #187 closed

[2018-07-02 10:10] kYann commented on #147
Hi !
Could we have a new release with this fix ?

Thanks,

Yann

[2018-07-03 10:53] FirecoAndyM commented on #126
We are seeing the same problem too.
Database: Google MySQL Cloud (2nd generation instance)
Version: 5.7.14-google
Region: europe-west1

Typically, the Storage usage increases without limit until we hit our 10TB limit.
When this happens the application stops working and we need to restart the database.
![mysqlmemoryleak-20180703_mysql_storage](https://user-images.githubusercontent.com/22097423/4221

[2018-07-03 11:02] pdecat commented on #126
@FirecoAndyM what about memory usage?

The storage usage increases here make me think of a big transactions that gets rolled back when the instance crashes.

[2018-07-03 12:05] pdecat commented on #126
Your memory usage graph looks completely different [from ours](https://github.com/GoogleCloudPlatform/cloudsql-proxy/issues/126#issuecomment-395307079) when we were facing the memory leak.
Our Cloud SQL MySQL process was killed as soon as it reached the instance maximum allocated memory.

[2018-07-03 13:32] FirecoAndyM commented on #126
Thanks for your suggestion pdecat. I shall do some further investigation...

[2018-07-05 16:58] kf6nux opened #189 "Missing github description / not searchable via keyword `sql`"
This repo is missing a GitHub description and is not discoverable when searching https://github.com/GoogleCloudPlatform/ for `sql`

Suggested description:
[code]

[2018-07-06 03:36] kevin-jj commented on #184
I was running into same issue on app server boot and have no idea to solve it. @Carrotman42

[2018-07-06 03:51] kevin-jj opened #190 "New connection for "myproject:region:db". Client closed local connection on 127.0.0.1:5432"
Our app was deployed at GKE according to [https://cloud.google.com/sql/docs/postgres/connect-kubernetes-engine](https://cloud.google.com/sql/docs/postgres/connect-kubernetes-engine).

The deployment includes 2 containers myapp + cloudsql-proxy. As app server boots, myapp have no any errors but cloudsql-proxy.

**The following errors from cloudsql-proxy**:

New connection for "myproject:region:db".

[2018-07-06 15:11] Carrotman42 commented on #190
Those are not error messages, they are just informational. It comes out of
stderr because that's where Go standard logging logs end up. There are
command line flags to control/suppress these logs if you don't like them.

On Thu, Jul 5, 2018, 8:51 PM kevin-jj <notifications@github.com> wrote:

[2018-07-06 15:24] abstrctn commented on #137
Thanks @ahmetb, the livenessProbe you linked to is helpful for ensuring the proxy is listening on a given port.

However, I wonder if a "healthy" state should also involve testing the connection to the instance. A few cases where the netcat test would succeed, but an application could not actually connect:
* A typo in the `-instances` argument pointing at a nonexistant instance name
* The database

[2018-07-06 22:48] ahmetb commented on #137
you can probably ship the mysql CLI with the image (or write a small script alongside your container) that makes a simple ping query to the database and exits. You can still use "exec" livenessProbe for this purpose and it's a somewhat common practice to test liveness of non-HTTP systems via Kubernetes.

[2018-07-07 07:41] kevin-jj commented on #190
@Carrotman42 However, the status of myapp pods showed "CrashLoopBackOff" & "Does not have minimum availability" in Dashboard Workload at GKE.

<img width="268" alt="screen shot 2018-07-07 at 3 34 39 pm" src="https://user-images.githubusercontent.com/120368/42408203-701eaf3c-81fb-11e8-9f76-8376c15b924a.png">

**The following errors from cloudsql-proxy:**

<img width="764" alt="c3dc6055-cec3-426b-bb

[2018-07-07 15:36] Carrotman42 commented on #190
Sorry, I am unable to interpret the image you posted, I am unfamiliar with GKE. But it seems you closed the issue so maybe you figured out what was wrong? Please reopen if there's anything we can do to help.

[2018-07-07 16:03] kevin-jj commented on #190
Yes, I have figured out that the issue was caused by our K8S configuration file. Cloudsql-Proxy have no problems. Thanks @Carrotman42

[2018-07-08 01:32] #190 closed

[2018-07-08 16:54] joanayma opened #191 "Postgres proxy random connection error"
Hello,

I'm using cloud_proxy from docker image with this command:
[code]
I call it from PHP using named service `postgres`.

I'm using GCE Cloud API access scopes - Cloud SQL -> "Enabled" to access the database.

It woks must of times. Some connections get dropped, like 1/3. I'm not getting any output from the container logs but New/closed connections.
I'm neither using cpu or memory limits. Is t

[2018-07-08 17:38] joanayma commented on #191
Seems solved.

[2018-07-08 17:38] #191 closed

[2018-07-09 23:56] #182 closed

[2018-07-09 23:57] #163 closed

[2018-07-10 04:50] hfwang commented on #189
Thanks for the suggestion! Done!

[2018-07-10 04:50] #189 closed

[2018-07-10 04:52] hfwang commented on #164
I think this issue is resolved. The Cloud SQL proxy uses port 3307 instead of the database default ports (3306 or 5432 for mysql and postgres respectively).

This is because they can not share the same port as the proxy isn't using the native database wire protocol.

[2018-07-10 04:52] #164 closed

[2018-07-11 17:18] kurtisvg commented on #170
@aawilson Can you confirm what command you are using to start the Cloud SQL Proxy? The Cloud SQL proxy does create a directory, and I have no problems connecting following the instructions listed in the documentation.

The command I'm using to start the Cloud SQL Proxy:
`./cloud_sql_proxy -instances=<INSTANCE_CONNECTION_NAME> -dir=/cloudsql -credential_file=service_account_key.json`

The command I

[2018-07-12 21:46] hfwang commented on #170
We have special handling for postgres sockets, see https://github.com/GoogleCloudPlatform/cloudsql-proxy/blob/679c7d53431e25e594f963dfb472f96320668d00/cmd/cloud_sql_proxy/proxy.go#L265

I think if you update your verison of the proxy client, the problem will go away...

[2018-07-12 21:46] #170 closed

[2018-07-16 14:46] tom932 opened #192 "Graceful shutdown to stop creating error messages in cloudsql log"
Currently, I have services running in Kubernetes. Those services use a cloudsql-proxy as sidecar container.
However, when I release a new version of a service, or just restart it by calling `kubectl delete pod PODNAME`, the cloudsql-instance logs the following error message:

[code]

The error is also mentioned in https://github.com/GoogleCloudPlatform/cloudsql-proxy/issues/126 , but I don't think

[2018-07-16 16:23] kurtisvg commented on #95
Closing - this issue hasn't been updated for over 6 months and appears to be abandoned.

[2018-07-16 16:23] #95 closed

[2018-07-16 16:23] kurtisvg commented on #94
It looks like #160 addresses this.

[2018-07-16 16:25] kurtisvg commented on #7
Closing - this issue hasn't been updated for over 6 months and appears to be abandoned.

[2018-07-16 16:45] kurtisvg commented on #103
Closing - this issue hasn't been updated in some time and appears to be abandoned. If you feel it requires more attention feel free to reopen.

In terms of connection pooling, it is probably best to handle it inside your application at the moment.

[2018-07-16 16:49] kurtisvg commented on #126
@AthenaShi The [public tracking bug](https://b.corp.google.com/issues/73649904) is marked as resolved. Do you think this issue is still relevant, or can it be closed out?

[2018-07-16 16:54] kurtisvg commented on #128
@AthenaShi Can you update this issue with the current status of the work?

[2018-07-16 16:57] kurtisvg commented on #143
It appears the question was resolved. Closing issue.

[2018-07-16 16:57] #143 closed

[2018-07-16 16:59] kurtisvg commented on #147
@hfwang Could you take a look at this?

[2018-07-16 17:01] #156 closed

[2018-07-16 17:06] kurtisvg commented on #185
Hi @olih10200,

A broken pipe error occurs when a connection was terminated before the data could be completely written. This generally indicates an unstable network environment.

[2018-07-16 17:06] #185 closed

[2018-07-16 17:07] kurtisvg commented on #184
@josephtyler Is this still an issue for you? Can you provide any more information or an example of the code you are using to connect?

[2018-07-16 17:14] kurtisvg commented on #192
You may be interested in #178.

Leaving this open for now, but probably a duplicate.

[2018-07-17 08:07] FirecoAndyM commented on #126
Hi Kurtis,

This issue has now been resolved and the ticket can be closed out now.

Thank you for your assistance with helping us to resolve this issue.

Kind Regards,
Andy Mason

On 16 July 2018 at 17:49, Kurtis Van Gent <notifications@github.com> wrote:

[2018-07-17 14:04] Carrotman42 commented on #7
I mean, the issue is potentially still a problem. Why close it? Imo closed issues are harder to find, especially when not all closed issues are actually fixed or otherwise done with.

[2018-07-17 16:57] kurtisvg commented on #7
Apologies if I closed it incorrectly - when I skimmed over the linked issue it seemed like the issue had been resolved by instructing the user to use the `-instances` flag.

[2018-07-20 09:44] Rob1080 opened #193 "Which ports to have open on firewall?"
Hi,
When installing cloudsql-proxy behind a firewall; is it only port 3307 that must be opened or port 3306 too?

[Docs say keep port 3307 open](https://cloud.google.com/sql/docs/mysql/sql-proxy#troubleshooting) but do we need 3306 open too?
The confusion, for me, is when starting up the proxy and you specify port in the instances `-instances=myProject:us-central1:myInstance=tcp:3306`  is that '33

[2018-07-20 14:14] Carrotman42 commented on #193
You only need to ensure outgoing TCP on remote port 3307 is allowed; 3306,
as described in your example argument list, is only used locally.

[2018-07-20 14:15] Rob1080 commented on #193
Great, thanks!

[2018-07-20 14:15] #193 closed

[2018-07-23 08:02] rahmonov commented on #184
I am having the same issue since we migrated to CloudSQL. Here is more info:

![connection refused](https://user-images.githubusercontent.com/9026972/43064556-ae478674-8e78-11e8-92d7-26277eef8cb6.png)

[2018-07-23 18:01] hfwang commented on #184
If it's happening sporadically and the error is connection refuse, I'd expect to see the cloud sql proxy getting restarted or something else happening to it...

@josephtyler
What environment are you running in?

When you say cloudsql logs, do you mean the logs for the cloud sql proxy or for the instance itself? Is there nothing else in the logs?

Also, just to double check: you are running the clo

[2018-07-24 04:29] hfwang commented on #192
#178 is definitely a potential fix.

However, in order to really get rid of those messages, you should ideally allow your application server to drain when `kubectl delete pod` is called, so that your application can close the connections cleanly. Otherwise the database server has to be the one noticing that there is no more traffic on a connection.

[2018-07-24 04:30] hfwang commented on #169
Just wanted to reach back out on this issue, we plan to add monitoring to the proxy client using the OpenCensus library which has pluggable exports.

Nothing yet that we are ready to show publicly though.

[2018-07-24 04:55] hfwang commented on #128
#178 adds a configurable wait after receiving SIGTERM, however it's not incredibly clever, it will wait the full configured wait since it doesn't know if there are any open connections, and it doesn't start rejecting new connections either.

[2018-07-24 13:15] chainlink commented on #169
Great news! @hfwang any idea on ETA for that?

[2018-07-27 17:00] nhooyr opened #194 "x509 hostname errors on Go HEAD"
If you try to dial an instance say `project-dev:us-central1:main`, pinging will throw an error `x509: Common Name is not a valid hostname: project-dev:main`

Looks like the Go x509 package was updated to throw errors on invalid hostnames.

[2018-07-30 03:59] zor commented on #126
I believe I am witnessing a similar issue and am hoping there is an existing solution.  Or if there is still a bug with GCP, that it can be resolved.  My project at times sees extreme spikes in DB CPU (screen shot below)
<img width="904" alt="screen shot 2018-07-29 at 8 17 30 pm" src="https://user-images.githubusercontent.com/563645/43376756-579a36de-9371-11e8-9289-3afd4c4a3a99.png">

and a simila

[2018-07-30 09:06] FirecoAndyM commented on #126
Hi Senyo,

The problem you are seeing appears to be different from the one on our
original ticket.
In our case it turned out to be a rogue SQL query which was running for >
10,000 seconds.
This was holding transaction locks which eventually led to resource
exhaustion on the MySQL database server.
So as it turned out, this was not due to a "memory leak" on the database
server as we first thought.

[2018-07-31 22:05] hfwang commented on #183
@robbyt thanks for pointing this out.

@piaxc has been tracking this internally as well. Possibly filed by you :)

[2018-07-31 22:09] hfwang commented on #194
I wonder if this is related: https://github.com/golang/go/issues/24151

Cloud SQL uses CNs but not SANs in its certificates, from my reading of that thread, it seems like its ok to not use a hostname in the CN?